<!-- Rodape -->
<footer id="rodapeFixo" [ngClass]="{'sem-menu-lateral': !(menuService.isAberto$ | async)}">
  <div class="row mx-0 h-100 d-flex align-items-center">

    <div class="col-12 col-md-6">
      <h6 class="w-100 text-center mb-0 px-3">
        Caixa Econômica Federal - Sistema Portal Negocios.Caixa - v.{{version}}
      </h6>
    </div>

    <div class="col d-flex justify-content-center">
      <ul class="px-3 m-0">
        <li>
          <a href="#" title="Política de Privacidade ">Política de Privacidade </a>
        </li>
        <li>
          <a href="#" title="Termos de Uso">Termos de Uso</a>
        </li>
        <li>
          <a href="#" title="Mapa do Site">Mapa do Site</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<div id="modalResponse" class="modal-sso" style="display: none;">
  <div class="modal-response-body">
    <div class="alert alert-outline-danger" role="alert">
      <p>[SSO] Token expirado, realize o login novamente.</p>
    </div>
    <div class="col-md-12">
      <button type="button"
        class="btn btn-cancel" (click)="redirectSso()">Fechar</button>
    </div>
  </div>
</div>
