<h1 class="header-principal-caixa">
  Cores
</h1>
<hr class="header-line-caixa">

<div *ngFor="let cor of cores" class="card card-caixa mb-3">
	<div class="card-header">
		<h5 class="header-caixa text-{{ cor.name }}-dark"
		[ngClass]="{'text-light-darkest': cor.name == 'light'}">
			{{ cor.titulo | titlecase }}
		</h5>
	</div>
	<div class="card-body">
		<div class="row">
			<ng-container>
				<div class="col-4 d-flex align-items-center justify-content-between">
					<div *ngIf="cor.lightest" class="square bg-lightest">
						<span>bg-lightest</span>
					</div>

					<div *ngIf="cor.light" class="square bg-{{ cor.name }}-light">
						<span [ngClass]="{'text-dark': cor.name == 'light'}" class="text-light">bg-{{ cor.name }}-light</span>
					</div>

					<div class="square bg-{{ cor.name }}">
						<span [ngClass]="{'text-dark': cor.name == 'light'}" class="text-light">bg-{{ cor.name }}</span>
					</div>

					<div *ngIf="cor.dark" class="square bg-{{ cor.name }}-dark">
						<span [ngClass]="{'text-dark': cor.name == 'light'}" class="text-light">bg-{{ cor.name }}-dark</span>
					</div>

					<div *ngIf="cor.darkest" class="square" 
						[ngClass]="{'bg-darkest': cor.name != 'light', 'bg-light-darkest': cor.name == 'light'}">
						<span [ngClass]="{'text-dark': cor.name == 'light'}" class="text-light">bg-darkest</span>
					</div>
				</div>
				<div class="col-8">
					<p [innerHTML]="cor.texto"></p>
				</div>
			</ng-container>
		</div>	<!-- Row -->
	</div>	<!-- Card Body -->

	<div *ngIf="cor.name == 'primary'" class="card-footer">
		<h5 class="header-caixa">Só para a primária</h5>
		<p [innerHTML]="placeholder"></p>
	</div>

	<div *ngIf="cor.name == 'danger'" class="card-footer">
		<h5 class="header-caixa">Só para a danger</h5>
		<p [innerHTML]="placeholder"></p>
	</div>

</div>	<!-- Card -->