<form [formGroup]="dockerConnectionForm" class="form-caixa">
    <div class="row mt-3 mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label for="url">URL do docker</label>
                <input name='url' formControlName="url" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="username">Usuário</label>
                <input name='username' formControlName="username" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input name='password' formControlName="password" class="form-control" type="password">
            </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="status">Status</label>
            <input name='status' formControlName="status" class="form-control" type="text" readonly>
          </div>
        </div>
    </div>

</form>
