<!-- CLIENTE TAB -->
<section id="cliente-tab">
   <div class="cliente-tab-wrapper">
      <div class="cliente-tab cliente-close cliente-current">
         <div class="row no-gutters">
            <div class="col-4 cliente-tab-left-side">
               <div class="left-side-container">
                  <span>Atendimento</span>
                  <h4>Direto</h4>
               </div>
            </div>
            <div class="col-8 cliente-tab-right-side">
               <div class="cliente-picture-container">
                  <img src="assets/images/picture-2.jpeg" alt="" class="cliente-picture">
               </div>
               <div class="cliente-info-container">
                  <h6>Fulano de Tal</h6>
                  <p>(99) 9999-9999</p>
               </div>
            </div>
         </div>
      </div>
   
      <div class="cliente-tab cliente-close">
         <div class="row no-gutters">
            <div class="col-4 cliente-tab-left-side">
               <div class="left-side-container">
                  <span>Senha</span>
                  <h4>LL887</h4>
               </div>
            </div>
            <div class="col-8 cliente-tab-right-side">
               <div class="cliente-picture-container">
                  <img src="assets/images/profile-picture-round.jpeg" alt="" class="cliente-picture">
               </div>
               <div class="cliente-info-container">
                  <h6>Ciclana da Silva</h6>
                  <p>(99) 9999-9999</p>
               </div>
            </div>
         </div>
      </div>

      <div class="cliente-tab cliente-far">
         <div class="row no-gutters">
            <div class="col-12 cliente-tab-left-side">
               <div class="left-side-container">
                  <span>Senha</span>
                  <h4>CD2019</h4>
               </div>
            </div>
         </div>
      </div>

      <div class="cliente-tab cliente-far">
         <div class="row no-gutters">
            <div class="col-12 cliente-tab-left-side">
               <div class="left-side-container">
                  <span>Senha</span>
                  <h4>PE062</h4>
               </div>
            </div>
         </div>
      </div>

      <div class="consulta-direta-container">
         <label>Atendimento direto</label>
         <input class="form-control" placeholder="CPF / CNPJ">
         <button class="btn btn-accent">Atender</button>
      </div>
   </div>
</section>

<!-- BOTÕES CIRCULARES -->
<section id="circle-buttons">
   <div class="circle-button-container">
      <div class="circle-button">
         <i class="fa fa-pen circle-button-icon"></i>
         <span class="circle-button-text">
            Gerenciador de atendimento
         </span>
      </div>
   
      <div class="circle-button">
         <i class="fa fa-users-cog circle-button-icon"></i>
         <span class="circle-button-text">
            Configurações pessoais
         </span>
      </div>
   
      <div class="circle-button">
         <i class="fa fa-calendar-plus circle-button-icon"></i>
         <span class="circle-button-text">
            Nova agenda
         </span>
      </div>
   
      <div class="circle-button">
         <i class="fa fa-chart-pie circle-button-icon"></i>
         <span class="circle-button-text">
            Novas metas
         </span>
      </div>
   </div>
</section>

<!-- AGENDA -->
<section id="agenda">
   <div class="calendar-box-container">
      <div class="card calendar-box calendar-box-pending">
         <div class="card-header">
            <div class="d-flex align-items-center">
               <div class="d-flex align-items-center mr-auto">
                  <i class="fa fa-calendar-alt fa-2x mr-3"></i>
                  <h5>15/05/2021</h5>
               </div>
               <div class="ml-auto">
                  <button class="calendar-box-button mr-2">
                     <i class="fa fa-check"></i>
                  </button>
                  <button class="calendar-box-button ">
                     <i class="fa fa-times"></i>
                  </button>
               </div>
            </div>
         </div>
         <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At nemo corrupti similique sapiente, eos ab ex voluptate necessitatibus culpa ullam ipsa libero. Provident debitis eaque pariatur itaque sit rem accusamus?
         </div>
      </div>
   
      <div class="card calendar-box calendar-box-done">
         <div class="card-header">
            <div class="d-flex align-items-center">
               <div class="d-flex align-items-center mr-auto">
                  <i class="fa fa-calendar-alt calendar-box-icon fa-2x mr-3"></i>
                  <h5>15/05/2021</h5>
               </div>
               <div class="ml-auto">
                  <button class="calendar-box-button calendar-box-button-check mr-2">
                     <i class="fa fa-check"></i>
                  </button>
                  <button class="calendar-box-button calendar-box-button-times">
                     <i class="fa fa-times"></i>
                  </button>
               </div>
            </div>
         </div>
         <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            At nemo corrupti similique sapiente, eos ab ex voluptate necessitatibus culpa ullam ipsa libero. Provident debitis eaque pariatur itaque sit rem accusamus?
         </div>
      </div>
   </div>
</section>



