<!-- <ul id="accordion" class="accordion" >
  <li *ngFor="let menu of menus; let i = index"
    [class.active]="menu.active">
    <div class="menu" (click)="toggle(i)">
      <i [class]="menu.iconClass"></i>
      {{ menu.name }}
      <i class="fa fa-chevron-down"></i>
    </div>
    <ul class="submenu" #submenu
      [style.height.px]="menu.active ? submenu.scrollHeight : 0">
      <li *ngFor="let submenu of menu.submenu">
        <a [href]="submenu.url">{{ submenu.name }}</a>
      </li>
    </ul>
  </li>
</ul> -->

<ul id="accordion" class="accordion nav flex-column border-top" >

  <li class="nav-item border-bottom" *ngFor="let menu of menus; let i = index" [class.active]="menu.active">

    <div class="d-flex align-items-center">
      <ng-container *ngIf="menu.url">
        <a routerLink="{{ menu.url }}" [routerLinkActive]="menu.url ? 'active' : ''"
          role="button" (click)="toggle(i)"
		      class="nav-item nav-link side-menu-item py-3 rounded-0 d-flex align-items-center w-100 ripple ripple-dark">
		  <span class="side-menu-item-icon">
			<i *ngIf="menu.iconClass" class="{{ menu.iconClass }} mr-auto"></i>
		  </span>
          {{ menu.name }}
          <i *ngIf="menu.submenu" class="fa fa-chevron-down"></i>
        </a>
      </ng-container>

      <ng-container *ngIf="!menu.url">
        <a role="button" (click)="menu.onClick ? menu.onClick.call() : null"
        class="nav-item nav-link side-menu-item py-3 rounded-0 d-flex align-items-center w-100 ripple">
          {{ menu.name }}
          <i *ngIf="menu.submenu" class="fa fa-chevron-down"></i>
        </a>
<!--         <a *ngIf="!menu.onClick" role="button"
        class="nav-item nav-link side-menu-item py-3 rounded-0 d-flex align-items-center w-100 ripple">
          {{ menu.name }}
          <i *ngIf="menu.submenu" class="fa fa-chevron-down"></i>
        </a> -->
      </ng-container>
    </div>

    <ul *ngIf="menu.submenu" class="submenu bg-light" #submenu
      [style.height.px]="menu.active ? submenu.scrollHeight : 0">
      <li class="nav-item" *ngFor="let submenu of menu.submenu">
        <a routerLink="{{ submenu.url }}" [routerLinkActive]="submenu.url ? 'active' : ''"
        role="button"
        class="nav-item nav-link border-bottom side-menu-item py-3 rounded-0 text-dark">
          <i *ngIf="menu.iconClass" [class]="submenu.iconClass"></i>
          {{ submenu.name }}
        </a>
      </li>
    </ul>

  </li>

</ul>

<!-- <ul class="nav nav-pills flex-column border-top">
  <li class="nav-item" *ngFor="let resource of resources">
    <a routerLink="{{ resource.url }}" routerLinkActive="active" class="nav-item nav-link side-menu-item border-bottom py-4 rounded-0">
        <i class="{{ resource.icon }} fa-lg mr-3"></i>
        {{ resource.name }}
    </a>
  </li>
  <li class="nav-item">
    <a target="_blank" class="nav-item nav-link py-4 rounded-0 side-menu-item border-bottom" href="https://developers.facebook.com/docs/whatsapp/overview">
        <i class="fas fa-lg fa-external-link-alt mr-3"></i>
        Referência da API
    </a>
  </li>
</ul> -->
