<ul class="accordion nav flex-column" [ngClass]="(menuService.isAberto$ | async) ? 'menu-aberto' : 'menu-reduzido'">
  <li class="nav-item" *ngFor="let menu of menus; let i = index" [class.active]="menu.active">

    <!-- Itens de menu de nível 1 -->
    <div class="menu-item" role="button" [title]="menu.name"
    [ngClass]="{'active': menu.active, 'text-primary': menu.active && menu.submenu, 'bg-primary text-white': menu.active && !menu.submenu}">
      <span class="menu-item-caret" (click)="activate(menu, i)">
        <i *ngIf="menu.submenu" class="fa fa-chevron-down item-caret"></i>
      </span>
      <span class="menu-item-icon" (click)="activate(menu, i)">
        <i *ngIf="menu.iconClass" [class]="menu.iconClass"></i>
      </span>
      <span class="menu-item-name" (click)="activate(menu, i)">
        {{ menu.name }}
      </span>
      <ng-container *ngIf="menu.active && !menu.submenu">
        <span class="menu-item-close-icon" (click)="fecharMenulateral()" role="button">
          <i class="fa fa-angle-double-left item-close-caret" ></i>
        </span>
        <span class="menu-item-open-icon" (click)="abrirMenuLateral()" role="button">
          <i class="fa fa-angle-double-right item-close-caret" ></i>
        </span>
      </ng-container>
    </div>    
    <!-- Itens de menu de nível 1 -->

    <ul *ngIf="menu.submenu" class="submenu border-bottom" #submenuDiv [ngClass]="{'d-none': !menu.active}">
      <li *ngFor="let submenu of menu.submenu; let i2 = index" [class.active]="submenu.active">

        <!-- Itens de menu de nível 2 -->
        <div class="menu-item" role="button" [title]="submenu.name"
        [ngClass]="{'active': submenu.active, 'text-primary': submenu.active && submenu.submenu, 'bg-primary text-white': submenu.active && !submenu.submenu}">      
          <span class="menu-item-caret" (click)="activate(submenu)">
            <i *ngIf="submenu.submenu" class="fa fa-chevron-down item-caret"></i>
          </span>
          <span class="menu-item-icon" (click)="activate(submenu)">
            <i *ngIf="submenu.iconClass" [class]="submenu.iconClass"></i>
          </span>
          <span class="menu-item-name" (click)="activate(submenu)">
            {{ submenu.name }}
          </span>
          <ng-container *ngIf="submenu.active && !submenu.submenu">
            <span class="menu-item-close-icon" (click)="fecharMenulateral()" role="button">
              <i class="fa fa-angle-double-left item-close-caret" ></i>
            </span>
            <span class="menu-item-open-icon" (click)="abrirMenuLateral()" role="button">
              <i class="fa fa-angle-double-right item-close-caret" ></i>
            </span>
          </ng-container>
        </div>
        <!-- Itens de menu de nível 2 -->

        <!-- Itens de menu de nível 3 -->
        <ul *ngIf="submenu.submenu" class="lastmenu border-bottom" [ngClass]="{'d-none': !submenu.active}" #lastmenuDiv>
          <li class="nav-item" *ngFor="let lastmenu of submenu.submenu">
            <div class="menu-item" role="button" [title]="lastmenu.name"
            [ngClass]="{'active bg-primary text-white': lastmenu.active}"> 
              <span class="menu-item-caret" (click)="activate(lastmenu)"></span>     
              <span class="menu-item-icon">
                <i *ngIf="menu.iconClass" [class]="lastmenu.iconClass"></i>
              </span>
              <span class="menu-item-name" (click)="activate(lastmenu)">
                {{ lastmenu.name }}
              </span>    
            </div>
          </li>
        </ul>
        <!-- Itens de menu de nível 3 -->

      </li>
    </ul> <!-- Level 2 menus -->

  </li> <!-- Top Level menus -->
</ul> <!-- Accordion -->