.accordion {
  width: 100%;
  list-style: none;
}

.accordion .menu {
  position: relative;
  padding: 15px 15px 15px 45px;
  border-bottom: 1px solid #ccc;
  transition: all 0.4s ease;
}

.accordion li:last-child .menu {
  border-bottom: 0;
}

.accordion li i {
/*   position: absolute;
  top: 1.2rem;
  left: 1rem;
  color: #595959; */
  transition: all 0.4s ease;
}

.accordion a i.fa-chevron-down {
  right: 1rem;
  left: auto;
  position: absolute;
}

.accordion li.active i.fa-chevron-down {
  transform: rotate(180deg);
}

/* Show submenu */

.submenu {
  height: 0;
  overflow: hidden;
/*   background: #444359; */
/*   font-size: 14px; */
  transition: height 0.4s ease;
  list-style: none;
  padding-left: 0;
}

.accordion li:last-child .submenu {
  border-radius: 0 0 4px 4px;
}

.accordion li:last-child .submenu li:last-child {
  border-bottom: 0;
}

.submenu a {
  display: block;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  padding-left: 3rem;
  border-left: none;
  border-top: none;
}

.side-menu-item-icon {
  display: flex;
  width: 40px;
  min-width: 40px;
}
