/** TABBER WRAPPER - div */

.tabber-wrapper.horizontal {
   max-height: 84px;
}

.tabber-wrapper.vertical {
   max-width: 100%;
}

/** TABBER - ul */

.tabber-wrapper > .tabber {
   position: relative;
   display: flex;
   justify-content: space-between;
   counter-reset: section;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0;
   margin: 0;
}

.tabber-wrapper.vertical > .tabber {
   overflow: hidden;
   flex-direction: column;
}

/** TAB - li */

.tabber-wrapper > .tabber > .tab {
   position: relative;
   transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1), padding-bottom 0.4s cubic-bezier(0.4, 0, 0.2, 1);
   padding: 0 !important;
   width: 100%;
   display: flex;
   align-items: center;
   height: 84px;
}

.tabber-wrapper > .tabber > .tab:last-of-type {
   width: auto !important;
}

/** TAB AFTER - linha */

.tabber-wrapper > .tabber > .tab::after {
   display: inline-block;
   content: "";
}

.tabber-wrapper > .tabber > .tab:not(:last-of-type)::after {
   top: 44px;
   left: 25px;
   background-color: gainsboro;
/*    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1); */
}

.tabber-wrapper.horizontal > .tabber > .tab:not(:last-of-type)::after {
   position: static;
   min-width: 10px;
   width: 100%;
   height: 1px;
}

.tabber-wrapper.vertical > .tabber > .tab:not(:last-of-type)::after {
   position: absolute;
   width: 2px;
   height: 100%;
}

/** TAB TITLE - div */

.tabber-wrapper > .tabber > .tab > .tab-title {
   line-height: 84px;
   height: 84px;
   margin: 0;
   padding: 0 4px 0 48px;
   display: inline-block;
   max-width: 245px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   flex-shrink: 0;
}

/** TAB TITLE ICON - div */

.tabber-wrapper > .tabber > .tab > .tab-title > .tab-icon {
   position: absolute;
   height: 35px;
   width: 35px;
   border-radius: 50%;
   text-align: center;
   line-height: 33px;
   font-size: 17px;
   left: 1px;
   top: 26.5px;
   left: 9px;
   margin-right: 1px;
   color: #fff;
   background-color: gray;
   font-weight: 400;
   transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ESTILOS ADICIONAIS */

.cursor-pointer {
   cursor: pointer;
}

.waves-effect {
   position: relative;
   display: inline-block;
   overflow: hidden;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: transparent;
   vertical-align: middle;
   z-index: 1;
   -webkit-transition: 0.3s ease-out;
   transition: 0.3s ease-out;
}
