<h1 class="header-principal-caixa">
  Páginas
</h1>
<hr class="header-line-caixa">

<section class="mb-5">
  <div class="card card-caixa">
    <div class="card-header">
      <h5 class="header-subtitulo-caixa">Sequencial com navegação livre</h5>
    </div>
    <div class="card-body">
      
      <cx-stepper #exemploStepper
        [navegacaoLivre]="true"
        [steps]="steps" 
        [stepAtual]="passoAtual"
        (changeStep)="mudarPasso($event)">
      </cx-stepper>
  
      <ng-container *ngFor="let step of steps; let i = index; let last = last; let first = first">
        <div *ngIf="passoAtual == i">
    
          <h3 class="mb-3">PASSO {{ i + 1 }}</h3>
    
<!--           <button *ngIf="i > 0" (click)="passoAtual = i - 1" class="btn btn-light btn-caixa mr-2">
            VOLTAR
          </button>
          <button *ngIf="!last" [ngClass]="{'ml-2': !first}"(click)="passoAtual = i + 1" class="btn btn-primary btn-caixa">
            AVANÇAR
          </button>

          <br><br> -->

          <button *ngIf="i > 0" (click)="exemploStepper.toPreviousStep()" class="btn btn-light btn-caixa mr-2">
            VOLTAR
          </button>
          <button *ngIf="!last" [ngClass]="{'ml-2': !first}" (click)="exemploStepper.toNextStep()" class="btn btn-primary btn-caixa">
            AVANÇAR
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</section>


<section class="mb-5">
  <div class="card card-caixa">
    <div class="card-header">
      <h5 class="header-subtitulo-caixa">Sequencial com navegação guiada</h5>
    </div>
    <div class="card-body">
      <cx-stepper 
      [navegacaoLivre]="false"
      [steps]="steps" 
      [stepAtual]="passoAtual"
      (changeStep)="mudarPasso($event)">
    </cx-stepper>
  
    <ng-container *ngFor="let step of steps; let i = index; let last = last; let first = first">
      <div *ngIf="passoAtual === i">
  
        <h3 class="mb-3">PASSO {{ i + 1 }}</h3>
  
        <button *ngIf="i > 0" (click)="passoAtual = i - 1" class="btn btn-light btn-caixa mr-2">
          VOLTAR
        </button>
        <button *ngIf="!last" [ngClass]="{'ml-2': !first}"(click)="passoAtual = i + 1" class="btn btn-primary btn-caixa">
          AVANÇAR
        </button>
      </div>
    </ng-container>
    </div>
  </div>
</section>





































<ng-container *ngIf="false">
   <form [formGroup]="formCpfNis" (submit)="pesquisarCpf()">
     <div class="row">
       <div class="col-12 col-md-5 col-lg-4">
         <label>CPF</label>
         <input class="input-caixa" name="cpf" placeholder="Informe o CPF" mask="000.000.000-00"
           formControlName="cpf">
       </div>
       <div class="col-12 col-md-5 col-lg-4">

         <label>NIS</label>
         <input class="input-caixa" name="nis" placeholder="Informe o NIS" mask="000.000.000-00"
           formControlName="nis">
       </div>
       <div class="col d-flex align-items-center mt-2 mt-md-0">
         <button type="submit" [disabled]="isCpfNisInvalid"
           [title]="!isCpfNisInvalid ? 'Pesquisar' : 'Preencha um dos campos'" class="btn btn-caixa btn-secondary">
           <i class="fa fa-search"></i>
         </button>
       </div>
     </div>
   </form>
 
   <ng-container *ngIf="cliente">
     <section id="secaoInformacoesPessoais" class="row mt-4">
       <div class="col-12 col-xl-4 mb-3 mb-xl-0">
         <app-card-caixa [draggable]="true">
           <div class="card-header">
             <h5 class="header-subtitulo-caixa">Informações Pessoais</h5>
           </div>
           <div class="card-body">
             <div class="py-2">
               <span class="font-weight-bold">Nome:</span>
               {{ cliente.nome }}
             </div>
             <div class="py-2">
               <span class="font-weight-bold">CPF:</span>
               {{ cliente.cpf | cpf }}
             </div>
             <div class="py-2">
               <span class="font-weight-bold">Nome da mãe:</span>
               {{ cliente.nomeMae }}
             </div>
             <div class="py-2">
               <span class="font-weight-bold">Nascimento:</span>
               {{ cliente.dataNascimento }}
             </div>
           </div>
           <div class="card-footer text-right">
             <button class="btn btn-caixa btn-primary">
               <i class="fa fa-edit"></i>
               Editar
             </button>
           </div>
         </app-card-caixa>
       </div>
     </section> <!-- ROW -->
 
     <section id="secaoUploadArquivo" class="my-5">
       <h4 class="header-subtitulo-caixa">
         Novo documento
       </h4>
       <hr class="header-line-caixa">
       <div class="row">
         <div class="col-5">
 
           <div class="p-4 bg-light border">
             <div #cardDragDrop class="card card-caixa card-upload" (drop)="drop($event, cardDragDrop)"
               (dragover)="dragOver($event, cardDragDrop)" (dragleave)="dragLeave($event, cardDragDrop)">
               <div class="card-body">
                 <div class="d-flex h-100 justify-content-center align-items-center text-center flex-column">
                   <h5 class="mb-5">
                     <i class="fa fa-hand-rock fa-lg text-muted mr-2"></i>
                     Arraste e solte o arquivo aqui
                   </h5>
                   <h5 class="mb-5">ou</h5>
                   <div class="d-flex w-100 align-items-center">
                     <input #inputUploadDocIdentidade
                       name="arquivo" type="file"
                       accept=".pdf, .tiff, .jpg, .jpeg, .png, .gif"
                       class="d-none"
                       (change)="uploadArquivo($event.target.files)">
                     <button class="btn btn-outline-primary btn-caixa mx-auto d-flex align-items-center" 
                     (click)="inputUploadDocIdentidade.click();" title="Upload de arquivo">
                       <i class="fas fa-file-upload fa-2x mr-2"></i>
                         Selecione um arquivo para upload...
                     </button>
                   </div>  <!-- BOTAO UPLOAD -->
                 </div>  <!-- CONTEUDO BODY -->
               </div>  <!-- CARD BODY -->
             </div>  <!-- CARD -->
           </div>  <!-- BG LIGHT -->
 
         </div>
         <div class="col-7">
 
           <div class="card card-caixa h-100 w-100">
             <div class="card-header">
               <h5 class="header-subtitulo-caixa">Prévia</h5>
             </div>
             <div class="card-body">
               <cx-spinner [fullscreen]="false" [name]="'spinnerUpload'"></cx-spinner>
 
               <div class="row h-100">
                 <div class="col">
                   <ng-container *ngIf="previaSrc">
                     <div (click)="open(previaSrc)" role="button" class="d-flex h-100 w-100 align-items-center justify-content-center"
                     [title]="uploadedFile.name">
                       <img class="img-previa" [src]="previaSrc">
                     </div>
                   </ng-container>
                 </div>
                 <div class="col">
                   <div *ngIf="uploadedFile" class="p-3">
                     <cx-select>
                       <label>Tipo do Documento</label>
                       <select selectCaixa>
                         <option>Documento de Identificação</option>
                         <option>Comprovante de Residência</option>
                         <option>Comprovante de Renda</option>
                       </select>
                     </cx-select>
                     <span class="d-block mb-3">
                       <span class="font-fam-bold">
                         <i class="fa fa-file-signature fa-lg mr-2" title="Nome do arquivo"></i>
                       </span>
                       {{ uploadedFile.name }}
                     </span>
                     <span class="d-block mb-3">
                       <span class="font-fam-bold">
                         <i class="fa fa-weight-hanging fa-lg mr-2" title="Tamanho do arquivo"></i>
                       </span>
                       {{ uploadedFile.size | bytesize }}
                     </span>
                     <span class="d-block">
                       <span class="font-fam-bold">
                         <i class="fa fa-calendar-day fa-lg mr-2" title="Data da última modificação"></i>
                       </span>
                       {{ uploadedFile.lastModified | date }}
                     </span>
                   </div>
                 </div>
               </div>
             </div>  <!-- CARD BODY -->
             <div class="card-footer">
               <div class="d-flex">
                 <button (click)="addDocumento()" *ngIf="uploadedFile" class="btn btn-caixa btn-success ml-auto">
                   <i class="fa fa-plus fa-lg mr-2"></i>
                   Adicionar Documento
                 </button>
               </div>
             </div>
           </div>  <!-- CARD -->
 
         </div> <!-- COL -->
       </div> <!-- ROW -->
     </section>
 
     <section id="secaoTabelaContratos" class="mt-5">
       <app-card-caixa>
         <div class="card-header">
           <h5 class="header-subtitulo-caixa">
             Contratos
           </h5>
         </div>
         <div class="card-body">
           <div class="table-responsive">
             <table datatable class="table table-caixa">
               <thead>
                 <tr>
                   <th>Número</th>
                   <th>Situação</th>
                   <th>Valor</th>
                   <th>Ações</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor="let contrato of contratos; let indice = index">
                   <td>{{ contrato.numero }}</td>
                   <td>{{ contrato.situacao }}</td>
                   <td>{{ contrato.valor | currency: 'R$' }}</td>
                   <td>
                     <button class="btn btn-caixa btn-sm btn-outline-primary mr-2" title="Detalhar">
                       <i class="fa fa-search"></i>
                     </button>
                     <button class="btn btn-caixa btn-sm btn-outline-danger mr-2" title="Excluir">
                       <i class="fa fa-trash"></i>
                     </button>
                     <button class="btn btn-caixa btn-sm btn-outline-success" title="Confirmar">
                       <i class="fa fa-check"></i>
                     </button>
                   </td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </app-card-caixa>
     </section>
   </ng-container>
 </ng-container>

