<div class="stepper-wrapper">
   <ul class="stepper horizontal" [ngClass]="{
      'previous-step': currentStep == (steps.length - 1), 'nav-guided': !freeNavigation
   }">
      <li [title]="step" class="step" *ngFor="let step of steps; let index = index; let last = last" [ngClass]="{
         'current-step': currentStep == index, 
         'prior-step': index == (currentStep - 1),
         'previous-step': index < currentStep, 
         'last-step': last && currentStep == index, 
         'cursor-pointer': (index < currentStep && currentStep < (steps.length - 1))
      }">
         <div class="step-title waves-effect" (click)="toStep(index)">
            <span [hidden]="index < currentStep">{{step}}</span>
         </div>
      </li>
   </ul>
</div>