/** STEPPER WRAPPER - div */

.stepper-wrapper.horizontal {
   max-height: 84px;
}

.stepper-wrapper.vertical {
   max-width: 100%;
}

/** STEPPER - ul */

.stepper-wrapper > .stepper {
   position: relative;
   display: flex;
   justify-content: space-between;
   counter-reset: section;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0;
   margin: 0;
}

.stepper-wrapper.vertical > .stepper {
   flex-direction: column;
}

.stepper-wrapper > .stepper.completed {
   display: inline-flex;
}

/** STEP - li */

.stepper-wrapper.horizontal > .stepper > .step {
   position: relative;
   padding: 0 !important;
   width: 100%;
   display: flex;
   align-items: center;
   height: 84px;
   transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1), padding-bottom 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.stepper-wrapper.horizontal > .stepper.nav-guided:not(.completed) > .step.previous-step:not(.prior-step) {
   visibility: hidden !important;
   width: 0 !important;
}

.stepper-wrapper.vertical > .stepper > .step {
   position: relative;
   transition: padding-bottom 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.stepper-wrapper.vertical > .stepper.nav-guided:not(.completed) > .step.previous-step:not(.prior-step) {
   visibility: hidden !important;
   height: 0 !important;
}

.stepper-wrapper > .stepper > .step.previous-step {
   width: 90px;
}

.stepper-wrapper > .stepper.completed > .step {
   width: 68px;
}

.stepper-wrapper > .stepper > .step:last-of-type {
   width: auto !important;
}

/** STEP AFTER - linha */

.stepper > .step:not(:last-of-type)::after {
   content: "";
   background-color: gainsboro;
   display: inline-block;
/*    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1); */
}

.stepper-wrapper.horizontal > .stepper > .step:not(:last-of-type)::after {
   position: static;
   min-width: 10px;
   width: 100%;
   height: 1px;
}

.stepper-wrapper.vertical > .stepper > .step:not(:last-of-type)::after {
   position: absolute;
   width: 2px;
   height: 100%;
   top: 44px;
   left: 25px;
}

/** STEP TITLE - span */

.stepper-wrapper > .stepper > .step > .step-title {
   line-height: 84px;
   height: 84px;
   margin: 0;
   padding: 0 4px 0 48px;
   display: inline-block;
   max-width: 245px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   flex-shrink: 0;
}

/** STEP TITLE ICON - div */

.stepper-wrapper > .stepper > .step > .step-title > .step-icon {
   z-index: 1;
   position: absolute;
   height: 35px;
   width: 35px;
   border-radius: 50%;
   text-align: center;
   line-height: 33px;
   font-size: 17px;
   left: 1px;
   top: 26.5px;
   left: 9px;
   margin-right: 1px;
   color: #fff;
   background-color: gray;
   font-weight: 400;
}

.stepper-wrapper > .stepper:not(.nav-guided) > .step > .step-title > .step-icon {
   transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.stepper-wrapper > .stepper > .step.current-step > .step-title > .step-icon {
   background-color: #005ca9;
}

.stepper-wrapper > .stepper > .step.previous-step > .step-title > .step-icon {
   border: 3px #008254 solid;
   line-height: 27px;
}

.stepper-wrapper > .stepper.nav-guided:not(.completed) > .step.previous-step > .step-title > .step-icon {
   background-color: white;
   color: #008254;
}

.stepper-wrapper > .stepper.nav-guided.completed > .step.previous-step > .step-title > .step-icon {
   color: #fff;
   background-color: gray;
   font-weight: 400;
}

.stepper-wrapper > .stepper > .step.last-step > .step-title > .step-icon {
   background-color: #008254;
}

/* ESTILOS ADICIONAIS */

.cursor-pointer {
   cursor: pointer;
}

.waves-effect {
   position: relative;
   display: inline-block;
   overflow: hidden;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: transparent;
   vertical-align: middle;
   z-index: 1;
}
