<div class="stepper-wrapper">
   <ul class="stepper horizontal" [ngClass]="{
      'previous-step': stepAtual === (steps.length - 1), 'nav-guided': !isNavFree
   }">
      <li [title]="step" class="step" *ngFor="let step of steps; let index = index; let last = last" [ngClass]="{
         'current-step': stepAtual === index, 
         'prior-step': index === (stepAtual - 1),
         'previous-step': index < stepAtual, 
         'last-step': last && stepAtual === index, 
         'cursor-pointer': (index < stepAtual && stepAtual < (steps.length - 1))
      }">
         <div class="step-title waves-effect waves-dark" [ngClass]="{
            'current-step': stepAtual === index, 
            'prior-step': index === (stepAtual - 1),
            'previous-step': index < stepAtual, 
            'last-step': last && stepAtual === index, 
            'cursor-pointer': (index < stepAtual && stepAtual < (steps.length - 1))
         }" (click)="selecionarStep(index)">
            <span [hidden]="index < stepAtual">{{step}}</span>
         </div>
      </li>
   </ul>
</div>