<div class="content govsocial">
  <aside>
    <div class="logo">
      <img src="assets/img/logo_negocios.png" alt="">
    </div>

    <nav *ngIf="possuiMenuLateral">
      <ul class="menu">
        <li>
          <a href="" title="Item de Menu">Item de Menu</a>
          <ul>
            <li>
              <a href="" title="Item de Menu">Item de Menu</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" title="Item de Menu">Item de Menu</a>
          <ul>
            <li>
              <a href="" title="Item de Menu">Item de Menu</a>
              <ul>
                <li>
                  <a href="" title="Item de Menu">Item de Menu</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="" title="Item de Menu">Item de Menu</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
</div>
