<h1 class="header-principal-caixa">
	Formulários
</h1>
<hr class="header-line-caixa">

<section id="painelFormularios" class="section-caixa">

	<div class="row">
		<div class="col-xl-4 mx-auto my-3">
			<div class="card card-caixa">
				<div class="card-header">
					<h5 class="header-subtitulo-caixa">
						Validadores embutidos
					</h5>
				</div>
				<div class="card-body">

					<cx-select>
						<label>Comida favorita</label>
						<select selectCaixa>
							<option value="" selected>Escolha uma comida</option>
							<option value="lasanha">Lasanha</option>
							<option value="pizza">Pizza</option>
							<option value="bolo">Bolo de Chocolate</option>
							<option value="feijao-com-arroz">Feijão com arroz</option>
						</select>
					</cx-select>

					<cx-input>
						<label>NG Model</label>
						<app-tooltip-icon text="teste"></app-tooltip-icon>
						<input inputCaixa [(ngModel)]="name" #ctrl="ngModel" required>
					</cx-input>

					<cx-input msgErroPadrao="Erro!!!">
						<label>Campo avulso</label>
						<input #inputTeste inputCaixa required [ngClass]="{'ng-valid': inputTeste.value != 1, 'ng-invalid': inputTeste.value == '1'}">
					</cx-input>

					<form [formGroup]="formulario">
						<cx-input>
							<i class="fa fa-user prefix-icon"></i>
							<label>Nome</label>
							<app-tooltip-icon text="teste"></app-tooltip-icon>
							<input inputCaixa formControlName="nome">
						</cx-input>

						<cx-input formato="(00) 00000-0000">
							<label>Telefone</label>
							<input inputCaixa 
								placeholder="(00) 00000-0000" 
								formControlName="tel" 
								mask="{{ phoneMask }}"
								(keyup)="onPhoneChanged($event);">
						</cx-input>

						<cx-input optionalErrors='{"simpleDate": "Data inválida"}'>
							<label>Nascimento</label>
							<input inputCaixa 
								placeholder="00/00/0000" 
								formControlName="nascimento" 
								mask="00/00/0000"
								[dropSpecialCharacters]=false>
						</cx-input>
					</form>
				</div>
				<div class="card-footer text-right">
					<button class="btn btn-success btn-caixa my-2 my-md-0" (click)="formulario.markAllAsTouched()">
						<i class="fas fa-lg fa-check-square mr-2"></i>
						Validar
					</button>
					<button class="btn btn-outline-dark btn-caixa my-2 my-md-0 mx-3" (click)="formulario.reset()">
						<i class="fas fa-lg fa-sync mr-2"></i>
						Redefinir
					</button>
					<button class="btn btn-secondary btn-caixa my-2 my-md-0" [disabled]="formulario.invalid"
						(click)="toastr.success('Formulário salvo com sucesso!', 'Sucesso')">
						<i class="fas fa-lg fa-save mr-2"></i>
						Salvar
					</button>
				</div>
			</div>
		</div>
		<div class="col-xl-6 mx-auto my-3">
			<div class="card card-caixa">
				<div class="card-header">
					<h5 class="header-subtitulo-caixa">
						Outros tipos de campos
					</h5>
				</div>
				<div class="card-body">
					<form [formGroup]="formulario2">

						<cx-input>
							<label>Mensagem</label>
							<i class="fa fa-comments prefix-icon"></i>
							<textarea inputCaixa formControlName="mensagem"></textarea>
						</cx-input>

						<cx-select>
							<label>Comida favorita</label>
							<select selectCaixa formControlName="comida">
								<option value="">Escolha uma comida</option>
								<option value="lasanha">Lasanha</option>
								<option value="pizza">Pizza</option>
								<option value="bolo">Bolo de Chocolate</option>
								<option value="feijao-com-arroz">Feijão com arroz</option>
							</select>
						</cx-select>

						<cx-select>
							<label>Filme favorito</label>
							<i class="fa fa-film prefix-icon"></i>
							<select selectCaixa formControlName="filme">
								<option value="">Escolha um filme</option>
								<option value="lasanha">Senhor dos Anéis</option>
								<option value="pizza">O Poderoso Chefão</option>
								<option value="bolo">Vingadores</option>
							</select>
						</cx-select>

						<div class="row mt-2 mb-4">
							<div class="col-6">
								<div class="custom-control custom-checkbox">
									<input formControlName="marque" type="checkbox" class="custom-control-input" id="customCheck1">
									<label class="custom-control-label" for="customCheck1">
										Me marque!
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="formControlRange">Valor</label>
							<input formControlName="valor" type="range" class="form-control-range" id="formControlRange">
							<span>{{ formulario2.get('valor').value }}</span> / 50
						</div>

						<div class="custom-control custom-switch my-4">
							<input formControlName="condicoes" id="condicoes" class="custom-control-input" type="checkbox">
							<label for="condicoes" class="custom-control-label">
								Aceito as condições
							</label>
						</div>
					</form>
				</div>
				<div class="card-footer text-right">
					<button class="btn btn-secondary btn-caixa my-2 my-md-0 mr-3"
						[disabled]="formulario2.invalid"
						(click)="toastr.success('Formulário salvo com sucesso!', 'Sucesso')">
						<i class="fas fa-lg fa-save mr-2"></i>
						Salvar
					</button>
					<button class="btn btn-outline-dark btn-caixa my-2 my-md-0" (click)="formulario2.reset()">
						<i class="fas fa-lg fa-sync mr-2"></i>
						Redefinir
					</button>
				</div>
			</div>
		</div>
	</div>
</section>