#menuLateral {
  width: 80%;
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: 999;
}
#menuLateral.escondido {
  margin-left: -400px;
  visibility: hidden;
}

@media (min-width: 768px) {
  #menuLateral {
    width: 50%;
    max-width: 50%;
  }
  #menuLateral.escondido {
    margin-left: -500px;
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  #menuLateral {
    max-width: 260px;
  }
  #menuLateral.escondido {
    margin-left: -262px;
    visibility: hidden;
  }
}
