@use "cx-variables";
@use "functions";
@use "animations";

#menuLateral {
  width: 70%;
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: 999;
}
#menuLateral.escondido {
  margin-left: -400px;
  visibility: hidden;
}

@media (min-width: 768px) {
  #menuLateral {
    width: 50%;
    max-width: 50%;
  }
  #menuLateral.escondido {
    margin-left: -500px;
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  #menuLateral {
    max-width: 260px;
  }
  #menuLateral.escondido {
    margin-left: -262px;
    visibility: hidden;
  }
}

@each $theme, $colors in cx-variables.$cx-colors {
  ::ng-deep #menuLateral.bg-#{$theme} {

    @include functions.placeholder {
      color: nth($colors, 2);
    }
    #menuLateralPesquisa {
      border-bottom: solid 1px nth($colors, 4);
    }
    #sidemenuSearchIcon {
      color: nth($colors, 2);
      +input {
        color: nth($colors, 2);
        background-color: transparent;
        padding: 0.375rem 0.5rem;
        $realce-color: nth($colors, 5);
        @extend .input-ripple-#{$realce-color};
      }
    }
    .nav-item .side-menu-item {
      border-bottom: solid 1px nth($colors, 4);
      color: nth($colors, 2);
      &:hover,
      &.active {
        color: nth($colors, 3);
      }
      @extend .ripple;
      @if (str-index($theme, "-light")) {
        @extend .ripple-dark;
      }
      &.active {
        font-family: cx-variables.$cx-font-family-bold;
      }
    }
  }
}
