#modal-forms-senha {
  padding: 0 !important;
  text-align: left;
  width: 35%;
}

#modal-forms-senha-body {
  background-color: #005ca9;
  display: flex;
  align-items: center;
  color: white;
  padding: 15px;
}

.select-telefone, .input-password {
  max-width: 20rem;
}

.input-sms {
  height: 4rem;
  width: 3.5rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: solid 1px grey;
  font-size: 1.5rem;
  display: inline-flex;
  text-align: center;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
}

/*
  Esconder setas em inputs tipo number - input-sms
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.validation-type-buttons {
  display: flex;
  align-items: center;
}

.btn-azul {
  background-color: #005CA9;
  color: #fff !important;
  margin-top: 0;
}
.btn-cinza {
  background-color: #3a4859;
  color: #fff !important;
}
