<h1 class="header-principal-caixa">
  Botões
</h1>
<hr class="header-line-caixa">

<ul class="nav nav-pills border-bottom tab-caixa" role="tablist">
  <li class="nav-item ripple-dark">
    <a class="nav-link text-uppercase active" data-toggle="tab" href="#visaoGeral" role="tab">
      Visão Geral
    </a>
  </li>
  <li class="nav-item ripple-dark">
    <a class="nav-link text-uppercase" data-toggle="tab" href="#exemplos" role="tab">
      Exemplos
    </a>
  </li>
</ul>

<br>

<div class="tab-content">
  <div class="tab-pane fade show active" id="visaoGeral" role="tabpanel">
    <div id="visaoGeral" class="row no-gutters">
      <section #scrollElement class="col-12 col-xl-9 pr-2 mb-5">
        <app-documentacao-template id="painelBotoes" 
        [cardTitle]="'Botões'" 
        [codeViewId]="'viewBotoes'"
        [htmlTabId]="'htmlCodeBotoes'" 
        [htmlCode]="htmlCodeBotoes">
          <div class="descricao">
            Os botões seguem o padrão do Bootstrap, acrescidos da classe
            <span class="bg-light border px-1">btn-caixa</span>.
          </div>
      
          <div class="conteudo">
            <button class="btn btn-caixa">Botão</button>
          </div>
        </app-documentacao-template>
    
        <br class="my-3">
    
        <app-documentacao-template id="painelBotoesTematicos" 
        [cardTitle]="'Botões temáticos'" 
        [codeViewId]="'viewBotoesTematicos'"
        [htmlTabId]="'htmlCodeBotoesTematicos'" 
        [htmlCode]="htmlCodeBotoesTematicos">
          <div class="descricao">
            Todas as varições temáticas e sua alternativa "outline" podem ser utilizadas.
          </div>
      
          <div class="conteudo">
            <button class="btn btn-caixa btn-primary">Primário</button> &nbsp;
            <button class="btn btn-caixa btn-danger-dark">Erro com tom escuro</button> &nbsp;
            <button class="btn btn-caixa btn-apoio-light">Apoio com tom claro</button> &nbsp;
            <button class="btn btn-caixa btn-outline-info">Info - outline</button>
          </div>
        </app-documentacao-template>
    
        <br class="my-3">
    
        <app-documentacao-template id="painelBotoesTamanho" 
        [cardTitle]="'Tamanho e ícones'" 
        [codeViewId]="'viewBotoesTamanho'"
        [htmlTabId]="'htmlCodeBotoesTamanho'" 
        [htmlCode]="htmlCodeBotoesTamanho">
          <div class="descricao">
            A estilização para diferentes tamanhos e estados segue o padrão do Bootstrap.
          </div>
      
          <div class="conteudo">
            <button class="btn btn-caixa btn-outline-dark btn-sm">Pequeno</button> &nbsp;
            <button class="btn btn-caixa btn-secondary btn-lg">Grande</button> &nbsp;
            <button class="btn btn-caixa btn-secondary btn-lg disabled">Grande desabilitado</button> &nbsp;
            <button class="btn btn-caixa btn-outline-primary">
              <i class="fa fa-edit mr-2"></i>
              Com ícone
            </button>
          </div>
        </app-documentacao-template>
      </section>
    
      <nav id="navSection" class="d-none col-3 d-xl-flex justify-content-center">
        <div class="position-fixed list-group list-group-caixa bg-white shadow-caixa border-0">
          <a (click)="scrollTo('painelBotoes')" class="list-group-item list-group-item-action"
            [ngClass]="{'active': currentSection == 'painelBotoes'}" role="button">
            Botões</a>
          <a (click)="scrollTo('painelBotoesTematicos')" class="list-group-item list-group-item-action"
            [ngClass]="{'active': currentSection == 'painelBotoesTematicos'}" role="button">
            Botões Temáticos</a>
          <a (click)="scrollTo('painelBotoesTamanho')" class="list-group-item list-group-item-action"
            [ngClass]="{'active': currentSection == 'painelBotoesTamanho'}" role="button">
            Tamanhos e ícones</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="tab-pane fade" id="exemplos" role="tabpanel">
    <div class="card card-caixa mb-3">
      <div class="card-body">
        <button class="btn btn-flat ripple-dark btn-caixa mr-3">Flat</button>
        <button class="btn btn-caixa btn-outline-success rounded-circle p-2 mr-3"><i class="fa fa-check fa-lg"></i></button>
        <button class="btn btn-flat btn-caixa ripple-dark rounded-circle p-3 mr-3"><i class="fa fa-bars fa-lg"></i></button>
        <button class="btn btn-caixa btn-outline-danger rounded-circle p-4"><i class="fa fa-trash fa-2x"></i></button>
      </div>
    </div>  <!-- Card -->

    <div class="card card-caixa">
      <div class="card-body">
        <div class="table-responsive">
          <table dataTable class="table table-caixa table-borderless">
            <thead>
              <th>Padrão</th>
              <th>Claro</th>
              <th>Escuro</th>
              <th>Outline Padrão</th>
              <th>Outline Claro</th>
              <th>Outline Escuro</th>
            </thead>
            <tbody>
              <ng-container *ngFor="let tema of temas; let i = index">
                <tr>
                  <td><button class="btn btn-caixa btn-{{tema?.name}}">Padrão</button></td>
                  <td><button class="btn btn-caixa btn-{{tema?.name}}-light mr-2">Claro</button></td>
                  <td><button class="btn btn-caixa btn-{{tema?.name}}-dark mr-2">Escuro</button></td>
                  <td><button class="btn btn-caixa btn-outline-{{tema?.name}} mr-2">Outline</button></td>
                  <td><button class="btn btn-caixa btn-outline-{{tema?.name}}-light mr-2">Claro</button></td>
                  <td><button class="btn btn-caixa btn-outline-{{tema?.name}}-dark mr-2">Escuro</button></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>  <!-- Card -->

  </div>  <!-- Tab -->
</div>  <!-- Tab Content -->
