<h1 class="header-principal-caixa">
  Botões
</h1>
<hr class="header-line-caixa">

<ul class="nav nav-pills border-bottom tab-caixa" role="tablist">
  <li class="nav-item">
    <a cx-ripple class="nav-link text-uppercase active" data-toggle="tab" href="#visaoGeral" role="tab">
      Visão Geral
    </a>
  </li>
  <li class="nav-item">
    <a cx-ripple class="nav-link text-uppercase" data-toggle="tab" href="#exemplos" role="tab">
      Exemplos
    </a>
  </li>
</ul>

<br>

<div class="tab-content">
  <div class="tab-pane fade show active" id="visaoGeral" role="tabpanel">
    <div class="row no-gutters">
      <section #scrollElement class="col-12 col-xl-9 pr-2 mb-5">
        <app-documentacao-template id="painelBotoes" 
        [cardTitle]="'Botões'" 
        [codeViewId]="'viewBotoes'"
        [htmlTabId]="'htmlCodeBotoes'" 
        [htmlCode]="htmlCodeBotoes">
          <div class="descricao">
            Os botões seguem o padrão do Bootstrap, acrescidos da classe
            <span class="citation-highlight">btn-caixa</span>.
          </div>
      
          <div class="conteudo">
            <button cx-ripple class="btn btn-caixa btn-cinza">Botão</button>
          </div>
        </app-documentacao-template>
    
        <br class="my-3">
    
        <app-documentacao-template id="painelBotoesTematicos" 
        [cardTitle]="'Botões temáticos'" 
        [codeViewId]="'viewBotoesTematicos'"
        [htmlTabId]="'htmlCodeBotoesTematicos'" 
        [htmlCode]="htmlCodeBotoesTematicos">
          <div class="descricao">
            Todas as varições temáticas e sua alternativa "outline" podem ser utilizadas.
          </div>
      
          <div class="conteudo">
            <button cx-ripple class="btn btn-caixa btn-primary">Primário</button> &nbsp;
            <button cx-ripple class="btn btn-caixa btn-danger-dark">Erro com tom escuro</button> &nbsp;
            <button cx-ripple class="btn btn-caixa btn-apoio-light">Apoio com tom claro</button> &nbsp;
            <button cx-ripple class="btn btn-caixa btn-outline-info">Info - outline</button>
          </div>
        </app-documentacao-template>
    
        <br class="my-3">
    
        <app-documentacao-template id="painelBotoesTamanho" 
        [cardTitle]="'Tamanho e ícones'" 
        [codeViewId]="'viewBotoesTamanho'"
        [htmlTabId]="'htmlCodeBotoesTamanho'" 
        [htmlCode]="htmlCodeBotoesTamanho">
          <div class="descricao">
            A estilização para diferentes tamanhos e estados segue o padrão do Bootstrap.
          </div>
      
          <div class="conteudo">
            <button cx-ripple class="btn btn-caixa btn-outline-dark btn-sm">Pequeno</button> &nbsp;
            <button cx-ripple class="btn btn-caixa btn-secondary btn-lg">Grande</button> &nbsp;
            <button cx-ripple class="btn btn-caixa btn-secondary btn-lg disabled">Grande desabilitado</button> &nbsp;
            <button cx-ripple class="btn btn-caixa btn-outline-primary">
              <i class="fa fa-edit mr-2"></i>
              Com ícone
            </button>
          </div>
        </app-documentacao-template>
      </section>
    
      <nav id="navSection" class="d-none col-3 d-xl-flex justify-content-center">
        <div class="position-fixed list-group list-group-caixa shadow-caixa border-0">
          <a (click)="scrollTo('painelBotoes')" class="list-group-item list-group-item-action"
            [ngClass]="{'active': currentSection == 'painelBotoes'}" role="button">
            Botões</a>
          <a (click)="scrollTo('painelBotoesTematicos')" class="list-group-item list-group-item-action"
            [ngClass]="{'active': currentSection == 'painelBotoesTematicos'}" role="button">
            Botões Temáticos</a>
          <a (click)="scrollTo('painelBotoesTamanho')" class="list-group-item list-group-item-action"
            [ngClass]="{'active': currentSection == 'painelBotoesTamanho'}" role="button">
            Tamanhos e ícones</a>
        </div>
      </nav>
    </div>
  </div>

  <div class="tab-pane fade" id="exemplos" role="tabpanel">

    <app-documentacao-template
    [cardTitle]="'Variados'"
    [codeViewId]="'viewBotoesExemplo'"
    [htmlTabId]="'htmlCodeExemplo'"
    [htmlCode]="htmlCodeExemplo"
    [cssTabId]="'cssCodeExemplo'"
    [cssCode]="cssCodeExemplo">
      <div class="descricao">
        Botões com a classe <span class="citation-highlight">flat</span> são transparentes sem borda.<br>
        A sombra pode ser retirada com a classe do Bootstrap <span class="citation-highlight">shadow-none</span>.
      </div>
      <div class="conteudo">
        <div class="btn-exemplo">
          <button cx-ripple class="btn btn-caixa btn-flat">
            Flat
          </button>
          <button cx-ripple class="btn btn-caixa btn-flat rounded-circle p-3">
            <i class="fa fa-bars fa-2x"></i>
          </button>
          <button cx-ripple class="btn btn-caixa btn-flat text-primary rounded-circle p-2">
            <i class="fa fa-home fa-2x"></i>
          </button>
          <button cx-ripple class="btn btn-caixa btn-outline-apoio rounded-circle p-2">
            <i class="fa fa-check fa-lg"></i>
          </button>
          <button cx-ripple class="btn btn-caixa btn-secondary rounded-circle p-3">
            <i class="fa fa-play fa-lg"></i>
          </button>
          <button cx-ripple class="btn btn-caixa btn-outline-danger rounded-circle shadow-none p-4">
            <i class="fa fa-trash fa-2x"></i>
          </button>
          <button cx-ripple class="btn btn-caixa btn-aux shadow-none">
            Sem sombra
          </button>
        </div>
      </div>
    </app-documentacao-template>

    <br class="my-3">

    <app-documentacao-template
    [cardTitle]="'Temáticos'"
    [codeViewId]="'viewBotoesTodosTematicos'"
    [htmlTabId]="'htmlCodeTodosTematicos'"
    [htmlCode]="htmlCodeTodosTematicos"
    [tsTabId]="'tsCodeTodosTematicos'"
    [tsCode]="tsCodeTodosTematicos">

      <div class="conteudo">
        <div class="table-responsive">
          <table class="table table-caixa table-borderless">
            <tbody>
              <ng-container *ngFor="let tema of temas; let i = index">
                <tr>
                  <td><button cx-ripple class="btn btn-caixa btn-{{tema?.name}}">Padrão</button></td>
                  <td><button cx-ripple class="btn btn-caixa btn-{{tema?.name}}-light">Claro</button></td>
                  <td><button cx-ripple class="btn btn-caixa btn-{{tema?.name}}-dark">Escuro</button></td>
                  <td><button cx-ripple class="btn btn-caixa btn-outline-{{tema?.name}}">Outline</button></td>
                  <td><button cx-ripple class="btn btn-caixa btn-outline-{{tema?.name}}-light">Claro</button></td>
                  <td><button cx-ripple class="btn btn-caixa btn-outline-{{tema?.name}}-dark">Escuro</button></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </app-documentacao-template>
  </div>  <!-- Tab -->
</div>  <!-- Tab Content -->
