<h1 class="header-principal-caixa">
  Botões
</h1>
<hr class="header-line-caixa">

<section id="painelBotoes" class="section-caixa">
  <div id="painelBotoesTematicos" class="row my-4">
    <div class="col-6">
      <h5>Primário</h5>
      <button class="btn btn-primary btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-primary-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-primary-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-primary btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-primary-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-primary-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      
      <br><br>
  
      <h5>Secundário</h5>
      <button class="btn btn-secondary btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-secondary-light btn-caixa my-2 my-md-0 mr-3">Claro</button> 
      <button class="btn btn-secondary-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-secondary btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-secondary-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-secondary-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
  
      <br><br>
  
      <h5>Sucesso</h5>
      <button class="btn btn-success btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-success-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-success-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-success btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-success-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-success-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      
      <br><br>
  
      <h5>Erro</h5>
      <button class="btn btn-danger btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-danger-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-danger-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-danger btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-danger-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-danger-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
  
      <br><br>
  
      <h5>Claro</h5>
      <button class="btn btn-light btn-caixa my-2 my-md-0 mr-3">Padrão</button>     
      <button class="btn btn-light-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-light-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-light btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-light-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-light-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
    </div>
  
    <div class="col-6 my-2">
      <h5>Info</h5>
      <button class="btn btn-info btn-caixa my-2 my-md-0 mr-3">Padrão</button>     
      <button class="btn btn-info-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-info-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-info btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-info-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-info-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      
      <br><br>
  
      <h5>Apoio</h5>
      <button class="btn btn-apoio btn-caixa my-2 my-md-0 mr-3">Padrão</button>     
      <button class="btn btn-apoio-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-apoio-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-apoio btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-apoio-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-apoio-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
  
      <br><br>
  
      <h5>Atenção</h5>
      <button class="btn btn-warning btn-caixa my-2 my-md-0 mr-3">Padrão</button>    
      <button class="btn btn-warning-light btn-caixa my-2 my-md-0 mr-3">Claro</button>     
      <button class="btn btn-warning-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-warning btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-warning-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-warning-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
  
      <br><br>
  
      <h5>Auxiliar</h5>
      <button class="btn btn-aux btn-caixa my-2 my-md-0 mr-3">Padrão</button>    
      <button class="btn btn-aux-light btn-caixa my-2 my-md-0 mr-3">Claro</button>     
      <button class="btn btn-aux-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-aux btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-aux-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-aux-dark btn-caixa my-2 my-md-0 mr-3">Escuro</button>
  
      <br><br>
  
      <h5>Escuro</h5>
      <button class="btn btn-dark btn-caixa my-2 my-md-0 mr-3">Padrão</button>    
      <button class="btn btn-dark-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-darkest btn-caixa my-2 my-md-0 mr-3">Escuro</button>
      <button class="btn btn-outline-dark btn-caixa my-2 my-md-0 mr-3">Padrão</button>
      <button class="btn btn-outline-dark-light btn-caixa my-2 my-md-0 mr-3">Claro</button>
      <button class="btn btn-outline-darkest btn-caixa my-2 my-md-0 mr-3">Escuro</button>
    </div>
  </div>

  <div id="painelOutrosExemplos" class="section-caixa">
    <h5 class="header-subtitulo-caixa">Outros exemplos</h5>
    <br>
    <div class="row">
      <div class="col">
        <button class="btn btn-secondary btn-caixa my-2 my-md-0 mr-3">
          <i class="fas fa-lg fa-save mr-2"></i>
          Com ícone
        </button>
  
        <button class="btn btn-outline-primary btn-caixa my-2 my-md-0 mr-3">
          <i class="fas fa-lg fa-edit mr-2"></i>
          Com ícone
        </button>
  
        <button class="btn btn-info btn-caixa my-2 my-md-0 rounded mr-3">
          <i class="fas fa-lg fa-info-circle"></i>
        </button>
  
        <div class="dropdown d-inline-block">
          <button class="btn btn-info btn-caixa my-2 my-md-0 mr-3" data-toggle="dropdown">
            Com dropdown
            <i class="fas fa-lg fa-caret-down ml-2"></i>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item">Item 1</a>
            <a class="dropdown-item">Item 2</a>
            <a class="dropdown-item">Item 3</a>
          </div>
        </div>
  
      </div>
      <div class="col">
        <button class="btn btn-success btn-caixa my-2 my-md-0 btn-sm mr-3">Pequeno</button>
        <button class="btn btn-warning btn-caixa my-2 my-md-0 mr-3">Médio</button>
        <button class="btn btn-danger btn-caixa my-2 my-md-0 btn-lg mr-3">Grande</button>
        <button class="btn btn-aux-dark btn-caixa my-2 my-md-0 btn-lg mr-3">
          <i class="fas fa-lg fa-bars mr-2"></i>
          Grande
          <i class="fas fa-lg fa-caret-down ml-2"></i>
        </button>
      </div>
    </div>  <!-- Row -->
  </div>  <!-- Painel Outros Exemplos -->

  <div id="painelGeradorBotoes" class="section-caixa">
    <h5 class="header-subtitulo-caixa">Gerador de botão</h5>
    <div class="row">
      <div class="col-6 col-md-8 my-3">
        <div class="row">
          <div class="col-md-4 my-3">
            <label>Cor</label>
            <cx-select>      
              <select selectCaixa #selectCor class="select-caixa">
                <option value="primary" class="text-primary font-fam-bold">Primária</option>
                <option value="secondary" class="text-secondary font-fam-bold">Secundária</option>
                <option value="success" class="text-success font-fam-bold">Sucesso</option>
                <option value="danger" class="text-danger font-fam-bold">Erro</option>
                <option value="warning" class="text-warning font-fam-bold">Alerta</option>
                <option value="info" class="text-info font-fam-bold">Info</option>
                <option value="aux" class="text-aux font-fam-bold">Auxiliar</option>
                <option value="apoio" class="text-apoio font-fam-bold">Apoio</option>
                <option value="light" class="font-fam-bold">Claro</option>
                <option value="dark" class="font-fam-bold">Escuro</option>
              </select>
            </cx-select>
          </div>  <!-- Col -->

          <div class="col-md-4 my-3">
            <label>Tom da cor</label>
            <cx-select>
              <select selectCaixa #selectTomCor>
                <option value="">Padrão</option>
                <option value="-light">Claro</option>
                <option value="-dark">Escuro</option>
              </select>
            </cx-select>
          </div>  <!-- Col -->
    
          <div class="col-md-4 my-3">
            <label>Tamanho</label>
            <cx-select>
              <select selectCaixa #selectTamanho>
                <option value="">Padrão</option>
                <option value="btn-sm">Pequeno</option>
                <option value="btn-lg">Grande</option>
              </select>
            </cx-select>
          </div>  <!-- Col -->
    
          <div class="col-md-4 my-3">
            <label>Tipo</label>
            <cx-select>
              <select selectCaixa #selectTipo>
                <option value="btn">Padrão</option>
                <option value="btn-outline">Outline (borda)</option>
              </select>
            </cx-select>
          </div>  <!-- Col -->
    
          <div class="col-md-4 my-3">
            <label>Ícone</label>
            <cx-select>
              <select selectCaixa #selectIcone>
                <option value="">Sem ícone</option>
                <option value="fa-check">Visto</option>
                <option value="fa-save">Salvar</option>
                <option value="fa-times">Fechar</option>
                <option value="fa-edit">Editar</option>
                <option value="fa-info-circle">Informação</option>
                <option value="fa-exclamation-triangle">Atenção</option>
              </select>
            </cx-select>
          </div>  <!-- Col -->

          <div class="col-md-4 my-3">
            <label>Tamanho do Ícone</label>
            <cx-select>
              <select selectCaixa #selectTamanhoIcone>
                <option value="">Padrão</option>
                <option value="fa-lg">Grande</option>
              </select>
            </cx-select>
          </div>  <!-- Col -->

          <div class="col-12 my-3">
            <label>Texto</label>
            <input #inputTextoBotao class="input-caixa" value="Altere as opções ao lado e visualize aqui" (keyup)="inputTextoBotao.value">
          </div>  <!-- Col -->
        </div>
      </div>

      <div class="col-6 col-md-4 my-3 d-flex align-items-center justify-content-center">
        <button class="btn btn-caixa {{selectTipo.value}}-{{selectCor.value}}{{selectTomCor.value}} {{selectTamanho.value}}">
          <i *ngIf="selectIcone.value" class="fa {{selectIcone.value}} {{selectTamanhoIcone.value}} mr-2"></i>
          {{ inputTextoBotao.value }}
        </button>
      </div>  <!-- Col -->
    </div>  <!-- Row -->
  </div>  <!-- Painel Gerador Botões -->
  
  
</section>