mz-modal-content {
  padding: 0;
}
.modal-header {
  justify-content: start;
  background-color: var(--cxAccent);
  color: var(--cxBase);
  font-family: var(--cxFontFamilyBold);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.alert {
  margin: 0;
}
.modal-footer {
  border: none;
}
