
  <div class="modal-header">
    <h5 [ngSwitch]="type">
      <ng-container *ngSwitchCase="'error'">Erro</ng-container>
      <ng-container *ngSwitchCase="'warning'">Alerta</ng-container>
      <ng-container *ngSwitchCase="'info'">Informação</ng-container>
      <ng-container *ngSwitchCase="'success'">Sucesso</ng-container>
    </h5>
  </div>
  <div class="modal-body">
    <div [ngClass]="{
        'alert-outline-danger': type === 'error',
        'alert-outline-warning': type === 'warning',
        'alert-outline-info': type === 'info',
        'alert-outline-success': type === 'success'
      }" class="alert" role="alert">
      <p [innerHTML]="message"></p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-cancel modal-close" mz-modal-close (click)="close()">
      {{textoFechar}}
    </button>
  </div>