.dataTables_wrapper {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   overflow-x: auto;
   .table.dataTable {
     width: 100% !important;
   }
 }
 
 .dataTables_length {
   display: flex;
   margin-bottom: 1rem;
   width: 50%;
   margin-left: auto;
   label {
     width: 100%;
     color: var(--cxContrast);
     text-align: right
   }
   select {
     width: 10rem !important;
   }
 }
 
 .dataTables_filter {
   display: block;
   margin-bottom: 1rem;
   width: 30rem;
   label {
     display: flex;
     align-items: center;
     margin-left: auto;
     color: var(--cxContrast);
   }
 }
 
 .dataTables_info {
   display: inline-block;
 }
 
 .dataTables_paginate {
   text-align: right;
   margin-left: auto;
 }
 
 .dt-buttons {
   width: 100%;
   margin-bottom: 1rem;
 }
 
 .dt-button-collection {
   position: absolute;
   z-index: 999;
   border: solid 1px var(--cxCancel);
   background-color: var(--cxBase);
   box-shadow: var(--cxShadowCaixa);
   width: auto;
   top: 0;
   left: 0;
   padding: 1rem;
 }
 
 .dataTables_empty {
   text-align: center;
 }