<div class="card-button-wrapper" [ngStyle]="styles" [ngClass]="{'checked': model === value}">
  <div class="row no-gutters h-100">

    <div class="col-4 card-button-left-side" tabindex="0" (click)="toggleValue()" (keyup.enter)="toggleValue()">
      <div class="checkbox-wrapper">
        <span class="checkmark" [ngClass]="checkmarkType"></span>
      </div>

      <i *ngIf="leftIcon" aria-hidden="false"
        [ngClass]="leftIcon" class="fa-3x my-2">
      </i>

      <h5 *ngIf="leftTitle" class="my-2">
        {{ leftTitle }}
      </h5>

      <small *ngIf="leftText">
        {{ leftText }}
      </small>
    </div>

    <div class="col-8 card-button-right-side">
      <div class="content-container">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>