<ng-container>
  <app-accordion [menus]="items"></app-accordion>
</ng-container>

<!-- <ng-container>
  <nav>
    <ul class="menu tabs">
      <li class="action-sub-menu" [class.disabled-menu]="false">
        <a [class.active]="isRotaAtiva('configuracao-do-modulo')"
          [routerLink]="'configuracao-do-modulo'"  title="Configuração do Módulo" id="title-conf-do-modulo">
          Configuração do Menu
          <i id="menu-configuracao" class="fas fa-angle-right fa icon-down-normalize"></i>
        </a>
      </li>
      <li class="action-sub-menu" [class.disabled-menu]="false">
        <a [class.active]="isRotaAtiva('servico-mensageria')"
          [routerLink]="'servico-mensageria'" title="Serviço de Mensageria" id="title-mensageria">
           Serviço de Mensageria
          <i id="menu-mensageria" class="fas fa-angle-right fa icon-down-normalize"></i>
        </a>
      </li>
    </ul>
  </nav>
</ng-container> -->
