:host:hover {
   .card-caixa-botoes {
      opacity: 1;
      z-index: 9;
   }
}
:host-context(.card) {
   z-index: 1;
}
.card-caixa-botoes {
   position: absolute;
   width: 100%;
   text-align: right;
   opacity: 0;
   transition: 0.2s;
   right: 0.2rem;
}
