.card-caixa-botoes {
   position: absolute;
   width: 100%;
   text-align: right;
   opacity: 0;
   transition: 0.2s;
   right: 0.2rem;
}
.card-caixa-botoes:hover {
   opacity: 1;
}
:host-context(.card.card-caixa) {
   z-index: 999;
}