/* ALERT WRAPPER */
.alert-consulta {
  position: relative;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.15);
  border-style: solid;
  border-width: 1px;
  border-color: var(--cxCancel);
  flex-direction: column;
}
.alert-consulta.alert-consulta-md {
  min-height: 5rem;
}
.alert-consulta.alert-consulta-sm {
  min-height: 3rem;
}

.alert-consulta > .alert-header {
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: solid 1px var(--cxCancel);
}
.alert-consulta > .alert-header > .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 3rem;
  border-top-left-radius: 3px;
}
.alert-consulta.alert-consulta-pending > .alert-header > .icon-container {
  background-color: var(--cxAux);
  color: var(--cxBase);
}
.alert-consulta.alert-consulta-success > .alert-header > .icon-container {
  background-color: var(--cxAccent);
  color: var(--cxBase);
}
.alert-consulta.alert-consulta-warning > .alert-header > .icon-container {
  background-color: var(--cxWarning);
  color: var(--cxContrast);
}
.alert-consulta.alert-consulta-danger > .alert-header > .icon-container {
  background-color: var(--cxDanger);
  color: var(--cxBase);
}
.alert-consulta.alert-consulta-loading > .alert-header > .icon-container {
  background-color: var(--cxCancel);
  color: var(--cxContrast);
}
.alert-consulta > .alert-header > .title-container {
  font-family: var(--cxFontFamilyBold);
  font-weight: normal;
  padding: 0.5rem;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  display: flex;
}
.alert-consulta > .alert-header > .collapse-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  width: 2.5rem;
  top: 0;
  right: 0;
  height: 100%;
  line-height: 3rem;
  cursor: pointer;
}
.alert-consulta > .alert-header > .collapse-icon-container > .collapse-icon::before {
  font-family: var(--cxFontFaIcon);
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  transition: all 0.3s ease;
}
.alert-consulta > .alert-header > .collapse-icon-container > .collapse-icon::before {
  content: "\f077";
}
.alert-consulta > .alert-header > .collapse-icon-container.collapsed > .collapse-icon::before {
  transform: rotate(180deg);
}
.alert-consulta > div > .alert-body {
  margin: 1rem;
}

