<div #defaultModal class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"[ngClass]="classTitulo">{{titulo}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{mensagem}}
            </div>
            <div class="modal-footer">
                <button id="btModalCancelar" *ngIf="showCancelar" type="button" [ngClass]="btnCancelarClass" data-dismiss="modal" (click)="cancelar()">
                  {{btCancelarTexto}}
                </button>
                <button id="btModalOk" type="button" [ngClass]="btnOkClass" data-dismiss="modal" (click)="ok()">
                  {{btOkTexto}}
                </button>
            </div>
        </div>
    </div>
</div>
