<h1 class="header-principal-caixa">
	Tabelas
</h1>

<div class="card d-inline-block w-auto mb-4">
	<div class="card-body">
		<i class="fa fa-exclamation-triangle fa-lg text-alerta mr-2"></i> Em desenvolvimento
	</div>
</div>


<section id="tabelaSandbox" class="mb-5" #scrollElement>

	<div id="cardFiltros" class="card mb-4">
		<div class="card-body">
			<form [formGroup]="formDTConfig">
				<div class="row align-items-center mb-3">
					<div class="col-2">
						<div class="custom-control custom-checkbox">
							<input formControlName="showButtons" type="checkbox" (change)="getTableConfig()"
								class="custom-control-input" id="checkBotoes">
							<label class="custom-control-label" for="checkBotoes">
								Botões
							</label>
						</div>
					</div>

					<div class="col-2">
						<div class="custom-control custom-checkbox">
							<input formControlName="showFilter" type="checkbox" (change)="getTableConfig()"
								class="custom-control-input" id="checkFiltro">
							<label class="custom-control-label" for="checkFiltro">
								Filtro Geral
							</label>
						</div>
					</div>

					<div class="col-2">
						<div class="custom-control custom-checkbox">
							<input formControlName="showPagination" type="checkbox" (change)="getTableConfig()"
								class="custom-control-input" id="checkPaging">
							<label class="custom-control-label" for="checkPaging">
								Paginação
							</label>
						</div>
					</div>

					<div class="col-2">
						<div class="custom-control custom-checkbox">
							<input formControlName="showInfo" type="checkbox" (change)="getTableConfig()"
								class="custom-control-input" id="checkInfo">
							<label class="custom-control-label" for="checkInfo">
								Informativo
							</label>
						</div>
					</div>

					<div class="col-2">
						<div class="custom-control custom-checkbox">
							<input formControlName="showLength" type="checkbox" (change)="getTableConfig()"
								class="custom-control-input" id="checkLength">
							<label class="custom-control-label" for="checkLength">
								Linhas por página
							</label>
						</div>
					</div>

				</div>
				<div class="row">

					<div class="col-3 my-3">
						<label>Filtro por coluna</label>
						<select [value]="table?.columnFilterType"
							(change)="updateConfigOption('columnFilter', $event.target.value)" class="custom-select">
							<option value="">Nenhum</option>
							<option value="input">Campo simples</option>
							<option value="select">Campo select</option>
						</select>
					</div>

					<div class="col-3 my-3">
						<label>Posição do filtro</label>
						<select [value]="table?.columnFilterPosition" (change)="setFilterPosition($event.target.value)"
							class="custom-select">
							<option value="top">Topo</option>
							<option value="bottom">Rodapé</option>
						</select>
					</div>

				</div>

				<button class="btn btn-secundario" (click)="fetchData()">Buscar novos dados</button>
			</form>
		</div>
	</div>

	<div id="cardTabelaSandbox" class="card my-3">
		<div class="card-body">
			<cx-datatable #tabela>
				<table datatable class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Prato</th>
							<!-- <th>Descrição</th> -->
							<th>Ingrediente</th>
							<th>Medida</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let row of rows">
							<td>{{ row.id }}</td>
							<td>{{ row.dish }}</td>
					<!-- 		<td>{{ row.description }}</td> -->
							<td>{{ row.ingredient }}</td>
							<td>{{ row.measurement }}</td>
						</tr>
					</tbody>
				</table>
			</cx-datatable>
		</div>
	</div>
</section>


<div class="row no-gutters" *ngIf="false">
	<section #scrollElement class="col-12 col-xl-9 pr-2 mb-5">
		<app-documentacao-template id="painelTabelaDatatable" [cardTitle]="'Datatable'" [codeViewId]="'viewDatatable'"
			[htmlTabId]="'htmlCodeDatatable'" [htmlCode]="htmlCodeDatatable" [tsTabId]="'tsCodeDatatable'"
			[tsCode]="tsCodeDatatable">
			<div class="descricao">
				A diretiva <span class="citation-highlight">datatable</span> acrescenta diversos recursos à tabela
				automaticamente.
			</div>

			<div class="conteudo">
				<div class="table-responsive">
					<table datatable class="table table-caixa responsive">
						<thead>
							<tr>
								<th>Coluna 1</th>
								<th>Coluna 2</th>
								<th>Coluna 3</th>
								<th>Coluna 4</th>
								<th>Coluna 5</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let row of rows">
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</app-documentacao-template>

		<br class="my-3">

		<app-documentacao-template id="painelDatatableCustom" [cardTitle]="'Datatable Customizada'"
			[codeViewId]="'viewDatatableCustom'" [htmlTabId]="'htmlCodeDatatableCustom'"
			[htmlCode]="htmlCodeDatatableCustom" [tsTabId]="'tsCodeDatatableCustom'" [tsCode]="tsCodeDatatableCustom">
			<div class="descricao">
				A classe <span class="citation-highlight">DatatableConfig</span> possui métodos e atributos auxiliares
				para personalizar
				a Datatable.
			</div>

			<div class="conteudo">
				<div class="table-responsive">
					<h5 class="header-caixa">Personalizada</h5>
					<table datatable [dtOptions]="dtCustomOptions" class="table table-caixa">
						<thead>
							<tr>
								<th>Coluna 1</th>
								<th>Coluna 2</th>
								<th>Coluna 3</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let row of rows | slice:0:5; let i = index">
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
							</tr>
						</tbody>
					</table>

					<hr class="my-5">

					<h5 class="header-caixa">Completa</h5>
					<table datatable [dtOptions]="dtCompleteOptions" class="table table-caixa">
						<thead>
							<tr>
								<th>Coluna 1</th>
								<th>Coluna 2</th>
								<th>Coluna 3</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let row of rows | slice:0:5; let i = index">
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</app-documentacao-template>

		<br class="my-3">

		<app-documentacao-template id="painelTabelasSimples" [cardTitle]="'Tabelas Simples'" [codeViewId]="'viewTabelas'"
			[htmlTabId]="'htmlCodeTabelas'" [htmlCode]="htmlCodeTabelasSimples" [tsTabId]="'tsCodeTabelasSimples'"
			[tsCode]="tsCodeTabelasSimples">
			<div class="descricao">
				A classe <span class="citation-highlight">table</span> do Bootstrap acrescida da classe
				<span class="citation-highlight">table-caixa</span> aplica o estilo básico de tabelas, sem recursos
				adicionais.
				<br>
				As classes auxiliares do Bootstrap como <span class="citation-highlight">table-borderless</span> (sem
				borda) e
				<span class="citation-highlight">table-stripped</span> (cor alternada) podem ser utilizadas.
			</div>

			<div class="conteudo">
				<div class="table-responsive">
					<table class="table table-caixa">
						<thead>
							<tr>
								<th>Coluna 1</th>
								<th>Coluna 2</th>
								<th>Coluna 3</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let row of rows | slice:0:5; let i = index">
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
								<td>Linha {{ row }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</app-documentacao-template>
	</section>

	<nav id="navSection" class="d-none col-3 d-xl-flex justify-content-center">
		<div class="position-fixed list-group list-group-caixa shadow-caixa border-0">
			<a (click)="scrollTo('painelTabelaDatatable')" class="list-group-item list-group-item-action"
				[ngClass]="{'active': currentSection == 'painelTabelaDatatable'}" role="button">
				Datatable</a>
			<a (click)="scrollTo('painelDatatableCustom')" class="list-group-item list-group-item-action"
				[ngClass]="{'active': currentSection == 'painelDatatableCustom'}" role="button">
				Datatable Customizada</a>
			<a (click)="scrollTo('painelTabelasSimples')" class="list-group-item list-group-item-action"
				[ngClass]="{'active': currentSection == 'painelTabelasSimples'}" role="button">
				Tabelas simples</a>
		</div>
	</nav>
</div>

<section *ngIf="false" id="" class="section-caixa">

	<h3 class="header-subtitulo-caixa">Completa</h3>
	<ul>
		<li>Botões auxiliares</li>
		<li>Filtro (campo 'Pesquisar')</li>
		<li>Informações de quantidade de registros</li>
		<li>Títulos ordenáveis em cada coluna</li>
		<li>Paginação</li>
	</ul>
	<div class="table-responsive p-2 mb-4">
		<table datatable [dtOptions]="" [dtTrigger]="dtTrigger" class="table table-caixa">
			<thead>
				<tr>
					<th>Coluna 1</th>
					<th>Coluna 2</th>
					<th>Coluna 3</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of rows; let i = index">
					<td>Linha {{ i }}</td>
					<td>Linha {{ i }}</td>
					<td>Linha {{ i }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="header-subtitulo-caixa">Simples</h3>
	<h5 class="mb-4">Pode ser simples, apenas com os títulos ordenáveis.</h5>
	<div class="table-responsive mb-4">
		<table datatable [dtOptions]="" id="tableTeste2" class="table table-caixa">
			<thead>
				<tr>
					<th>Coluna 1</th>
					<th>Coluna 2</th>
					<th>Coluna 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Linha 1</td>
					<td>Linha 1</td>
					<td>Linha 1</td>
				</tr>
				<tr>
					<td>Linha 2</td>
					<td>Linha 2</td>
					<td>Linha 2</td>
				</tr>
				<tr>
					<td>Linha 3</td>
					<td>Linha 3</td>
					<td>Linha 3</td>
				</tr>
				<tr>
					<td>Linha 4</td>
					<td>Linha 4</td>
					<td>Linha 4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<h3 class="header-subtitulo-caixa">Customizada</h3>
	<h5 class="mb-4">Ou ainda ter apenas os componentes desejados.</h5>
	<div class="table-responsive mb-4">
		<table datatable [dtOptions]="" id="tableTeste3" class="table table-caixa">
			<thead>
				<tr>
					<th>Coluna 1</th>
					<th>Coluna 2</th>
					<th>Coluna 3</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Linha 1</td>
					<td>Linha 1</td>
					<td>Linha 1</td>
				</tr>
				<tr>
					<td>Linha 2</td>
					<td>Linha 2</td>
					<td>Linha 2</td>
				</tr>
				<tr>
					<td>Linha 3</td>
					<td>Linha 3</td>
					<td>Linha 3</td>
				</tr>
				<tr>
					<td>Linha 4</td>
					<td>Linha 4</td>
					<td>Linha 4</td>
				</tr>
			</tbody>
		</table>
	</div>


</section>

