<h1 class="header-principal-caixa">
	Tipografia
</h1>
<hr class="header-line-caixa">

<div class="mb-5">
	<h5>Fonte padrão</h5>
	<h5 class="font-fam-bold">Fonte Bold</h5>
	<a href="#">Link</a>
</div>

<div class="mb-5">
	<p>Texto padrão: {{ placeholder }}</p>
	<small>Texto pequeno: {{ placeholder }}</small>
	<br><br>
	<span>
		<i class="fa fa-check mr-2"></i>
		<i class="fa fa-times mr-2"></i>
		<i class="fa fa-user mr-2"></i>
		<i class="fa fa-comment mr-2"></i>
		<i class="fa fa-angle-right mr-5"></i>
	</span>
	<span class="text-opacity-1">
		<i class="fa fa-check mr-2"></i>
		<i class="fa fa-times mr-2"></i>
		<i class="fa fa-user mr-2"></i>
		<i class="fa fa-comment mr-2"></i>
		<i class="fa fa-angle-right mr-5"></i>
	</span>
	<span>
		<i class="fa fa-lg fa-check mr-2"></i>
		<i class="fa fa-lg fa-times mr-2"></i>
		<i class="fa fa-lg fa-user mr-2"></i>
		<i class="fa fa-lg fa-comment mr-2"></i>
		<i class="fa fa-lg fa-angle-right mr-5"></i>
	</span>
	<span class="text-primary text-opacity-1">
		<i class="fa fa-lg fa-check mr-2"></i>
		<i class="fa fa-lg fa-times mr-2"></i>
		<i class="fa fa-lg fa-user mr-2"></i>
		<i class="fa fa-lg fa-comment mr-2"></i>
		<i class="fa fa-lg fa-angle-right mr-5"></i>
	</span>
	<h2 class="d-inline">
		<i class="fa fa-lg fa-check mr-2"></i>
		<i class="fa fa-lg fa-times mr-2"></i>
		<i class="fa fa-lg fa-user mr-2"></i>
		<i class="fa fa-lg fa-comment mr-2"></i>
		<i class="fa fa-lg fa-angle-right mr-5"></i>
	</h2>
</div>

<div class="row mb-5">
	<div class="col-4">
		<h1>Título H1</h1>
		<h2>Título H2</h2>
		<h3>Título H3</h3>
		<h4>Título H4</h4>
		<h5>Título H5</h5>
		<h6>Título H6</h6>
	</div>
	<div class="col-4">
		<h1 class="font-fam-bold">Título H1</h1>
		<h2 class="font-fam-bold">Título H2</h2>
		<h3 class="font-fam-bold">Título H3</h3>
		<h4 class="font-fam-bold">Título H4</h4>
		<h5 class="font-fam-bold">Título H5</h5>
		<h6 class="font-fam-bold">Título H6</h6>
	</div>
</div>

<div class="mb-5">
	<h2 class="header-principal-caixa">Header Principal Caixa</h2>
	<h2 class="header-caixa">Header Caixa</h2>
	<h2 class="header-caixa text-primary">Header Caixa</h2>
	<h2 class="header-caixa text-apoio">Header Caixa</h2>
</div>

<div class="row mb-5">
	<div class="col-4">
		<h2 class="">Opacidade normal</h2>
		<h2 class="text-opacity-1">Opacidade 1</h2>
		<h2 class="text-opacity-2">Opacidade 2</h2>
		<h2 class="text-opacity-3">Opacidade 3</h2>
	</div>
	<div class="col-4">
		<h2 class="font-fam-bold">Opacidade normal</h2>
		<h2 class="font-fam-bold text-opacity-1">Opacidade 1</h2>
		<h2 class="font-fam-bold text-opacity-2">Opacidade 2</h2>
		<h2 class="font-fam-bold text-opacity-3">Opacidade 3</h2>
	</div>
</div>

<div class="row mb-5">
	<div class="col-4">
		<div class="card card-caixa bg-white">
			<div class="card-body">
				<h2 class="header-principal-caixa">Título</h2>
				<h2>Título</h2>
				<h2 class="font-fam-bold">Título</h2>
				<h2 class="header-caixa">Título</h2>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card card-caixa bg-cinza">
			<div class="card-body">
				<h2 class="header-principal-caixa">Título</h2>
				<h2>Título</h2>
				<h2 class="font-fam-bold">Título</h2>
				<h2 class="header-caixa">Título</h2>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card card-caixa bg-grafite text-white">
			<div class="card-body">
				<h2 class="header-principal-caixa text-white">Título</h2>
				<h2>Título</h2>
				<h2 class="font-fam-bold">Título</h2>
				<h2 class="header-caixa">Título</h2>
			</div>
		</div>
	</div>
</div>

<div class="row mb-5">
	<div class="col-4">
		<div class="card card-caixa bg-primary text-white">
			<div class="card-body">
				<h2 class="header-principal-caixa text-white">Título</h2>
				<h2>Título</h2>
				<h2 class="font-fam-bold">Título</h2>
				<h2 class="header-caixa">Título</h2>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card card-caixa bg-uva text-white">
			<div class="card-body">
				<h2 class="header-principal-caixa text-white">Título</h2>
				<h2>Título</h2>
				<h2 class="font-fam-bold">Título</h2>
				<h2 class="header-caixa">Título</h2>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card card-caixa bg-gradient-ceu text-white">
			<div class="card-body">
				<h2 class="header-principal-caixa text-white">Título</h2>
				<h2>Título</h2>
				<h2 class="font-fam-bold">Título</h2>
				<h2 class="header-caixa">Título</h2>
			</div>
		</div>
	</div>
</div>
