/* Colors */

$cx-color-primary: #005CA9;
$cx-color-primary-light:#0071CF;
$cx-color-primary-dark:#004C8C;

$cx-color-secondary: #F39200;
$cx-color-secondary-light:#FEB21E;
$cx-color-secondary-dark:#EC7500;

$cx-color-success: #AFCA0B;
$cx-color-success-light:#C2DC26;
$cx-color-success-dark:#A1B911;

$cx-color-danger: #F9765E;
$cx-color-danger-light:#FC8A76;
$cx-color-danger-dark:#E26650;

$cx-color-info: #00B5E5;
$cx-color-info-light:#32D4FF;
$cx-color-info-dark:#00A2CD;

$cx-color-warning: #F9B000;
$cx-color-warning-light:#FFC230;
$cx-color-warning-dark:#F99E00;

$cx-color-apoio: #54BBAB;
$cx-color-apoio-light:#66CFBF;
$cx-color-apoio-dark:#40A797;

$cx-color-aux:#B26F9B;
$cx-color-aux-light: #BC8DAC;
$cx-color-aux-dark:#9F4D83;

$cx-color-light: #EFF5F6;
$cx-color-lightest:#FFFFFF;
$cx-color-light-dark:#D0E0E3;
$cx-color-light-darkest:#B3C7CB;

$cx-color-dark: #48586C;
$cx-color-dark-light:#5F758F;
$cx-color-darkest:#3A4859;

$cx-color-placeholder: #999;

/* 
	Mapa
	COR DE FUNDO / COR DO TEXTO / COR ATIVA / REALCE / RIPPLE
*/
$cx-colors: (
	"primary": ($cx-color-primary, $cx-color-light, $cx-color-secondary, $cx-color-primary-light, "secondary"),
	"primary-light": ($cx-color-primary-light, $cx-color-light, $cx-color-secondary, $cx-color-primary, "secondary"),
	"primary-dark": ($cx-color-primary-dark, $cx-color-light, $cx-color-secondary, $cx-color-primary, "secondary"),

	"secondary": ($cx-color-secondary, $cx-color-light, $cx-color-primary, $cx-color-secondary-light, "primary"),
	"secondary-light": ($cx-color-secondary-light, $cx-color-dark, $cx-color-primary, $cx-color-secondary, "primary-dark"),
	"secondary-dark": ($cx-color-secondary-dark, $cx-color-light, $cx-color-primary, $cx-color-secondary, "primary"),

	"success": ($cx-color-success, $cx-color-light, $cx-color-primary, $cx-color-success-light, "primary"),
	"success-light": ($cx-color-success-light, $cx-color-dark, $cx-color-primary-dark, $cx-color-success, "primary-dark"),
	"success-dark": ($cx-color-success-dark, $cx-color-light, $cx-color-primary, $cx-color-success, "primary"),

	"danger": ($cx-color-danger, $cx-color-light, $cx-color-primary, $cx-color-danger-light, "primary"),
	"danger-light": ($cx-color-danger-light, $cx-color-dark, $cx-color-primary-dark, $cx-color-danger, "primary-dark"),
	"danger-dark": ($cx-color-danger-dark, $cx-color-light, $cx-color-primary, $cx-color-danger, "primary"),

	"info": ($cx-color-info, $cx-color-light, $cx-color-primary, $cx-color-info-light, "primary"),
	"info-light": ($cx-color-info-light, $cx-color-dark, $cx-color-primary-dark, $cx-color-info, "primary-dark"),
	"info-dark": ($cx-color-info-dark, $cx-color-light, $cx-color-primary, $cx-color-info, "primary"),

	"warning": ($cx-color-warning, $cx-color-light, $cx-color-primary, $cx-color-warning-light, "primary"),
	"warning-light": ($cx-color-warning-light, $cx-color-dark, $cx-color-primary-dark, $cx-color-warning, "primary-dark"),
	"warning-dark": ($cx-color-warning-dark, $cx-color-light, $cx-color-primary, $cx-color-warning, "primary"),

	"apoio": ($cx-color-apoio, $cx-color-light, $cx-color-primary, $cx-color-apoio-light, "primary"),
	"apoio-light": ($cx-color-apoio-light, $cx-color-dark, $cx-color-primary-dark, $cx-color-apoio, "primary-dark"),
	"apoio-dark": ($cx-color-apoio-dark, $cx-color-light, $cx-color-primary, $cx-color-apoio, "primary"),

	"aux": ($cx-color-aux, $cx-color-light, $cx-color-info-light, $cx-color-aux-light, "info-light"),
	"aux-light": ($cx-color-aux-light, $cx-color-dark, $cx-color-primary-dark, $cx-color-aux, "primary-dark"),
	"aux-dark": ($cx-color-aux-dark, $cx-color-light, $cx-color-info-light, $cx-color-aux, "info-light"),

	"light": ($cx-color-light, $cx-color-dark, $cx-color-primary, $cx-color-light-dark, "primary"),
	"light-light": ($cx-color-lightest, $cx-color-dark, $cx-color-primary, $cx-color-light, "primary"),
	"light-dark": ($cx-color-light-dark, $cx-color-dark, $cx-color-primary, $cx-color-light, "primary"),
	"light-darkest": ($cx-color-light-darkest, $cx-color-dark, $cx-color-primary, $cx-color-light-dark, "primary"),

	"dark": ($cx-color-dark, $cx-color-light, $cx-color-secondary, $cx-color-dark-light, "secondary"),
	"dark-light": ($cx-color-dark-light, $cx-color-light, $cx-color-secondary, $cx-color-dark, "secondary"),
	"dark-dark": ($cx-color-darkest, $cx-color-light, $cx-color-secondary, $cx-color-dark, "secondary"),
);

/* Logo */

$cx-logo-azul: url("/assets/images/caixa-logo-x.png");
$cx-logo-branco: url("/assets/images/caixa-logo-x-branco.png");
$cx-logo-completo-azul: url("/assets/images/caixa-logo-completo.png");
$cx-logo-completo-branco: url("/assets/images/caixa-logo-completo-branco.png");

/* Font */

@import "./assets/fonts/style.css";

$cx-font-family-base: Futura LT, Futura LT Book !default;
$cx-font-family-normal: Futura LT Book;
$cx-font-family-bold: Futura LT Bold;
$cx-font-size-base: 0.875rem;	/* 0.812 = 13px | 0.875 = 14px */
$cx-h1-font-size: $cx-font-size-base * 2.5 !default;
$cx-h2-font-size: $cx-font-size-base * 2 !default;
$cx-h3-font-size: $cx-font-size-base * 1.75 !default;
$cx-h4-font-size: $cx-font-size-base * 1.5 !default;
$cx-h5-font-size: $cx-font-size-base * 1.25 !default;
$cx-h6-font-size: $cx-font-size-base;

/* Gradiente */

$cx-gradient-primary: linear-gradient(90deg, $cx-color-primary 0%, rgba(84,187,171,1) 100%);
$cx-gradient-sky: linear-gradient(90deg, $cx-color-primary 0%, rgba(0,181,229,1) 100%);
$cx-gradient-aux: linear-gradient(90deg, $cx-color-primary 0%, rgba(178,111,155,1) 100%);
$cx-gradient-success: linear-gradient(90deg, $cx-color-primary 0%, rgba(175,202,11,1) 100%);
$cx-gradient-light: linear-gradient(90deg, $cx-color-lightest 0%, $cx-color-light 100%);
$cx-gradient-dark: linear-gradient(90deg, rgba(58,72,89,1) 0%, rgba(95,118,143,1) 100%);

$cx-gradient-themes: (
	"primary": $cx-gradient-primary,
	"sky": $cx-gradient-sky,
	"aux": $cx-gradient-aux,
	"success": $cx-gradient-success,
	"light": $cx-gradient-light,
	"dark": $cx-gradient-dark
);

/* Opacidade */

$cx-bg-opacity-1: 0.64;
$cx-bg-opacity-2: 0.4;
$cx-bg-opacity-3: 0.24;

$cx-bg-opacities: (
	"1": $cx-bg-opacity-1,
	"2": $cx-bg-opacity-2,
	"3": $cx-bg-opacity-3
);

$cx-text-opacity-1: 0.72;
$cx-text-opacity-2: 0.56;
$cx-text-opacity-3: 0.32;

$cx-text-opacities: (
	"1": $cx-text-opacity-1,
	"2": $cx-text-opacity-2,
	"3": $cx-text-opacity-3
);
