/* Colors */

$cx-color-primary: #005CA9;
$cx-color-primary-light:#0071CF;
$cx-color-primary-dark:#004C8C;

$cx-color-secondary: #F39200;
$cx-color-secondary-light:#FEB21E;
$cx-color-secondary-dark:#EC7500;

$cx-color-success: #AFCA0B;
$cx-color-success-light:#C2DC26;
$cx-color-success-dark:#A1B911;

$cx-color-danger: #F9765E;
$cx-color-danger-light:#FC8A76;
$cx-color-danger-dark:#E26650;

$cx-color-info: #00B5E5;
$cx-color-info-light:#32D4FF;
$cx-color-info-dark:#00A2CD;

$cx-color-warning: #F9B000;
$cx-color-warning-light:#FFC230;
$cx-color-warning-dark:#F99E00;

$cx-color-apoio: #54BBAB;
$cx-color-apoio-light:#66CFBF;
$cx-color-apoio-dark:#40A797;

$cx-color-aux:#B26F9B;
$cx-color-aux-light: #BC8DAC;
$cx-color-aux-dark:#9F4D83;

$cx-color-light: #EFF5F6;
$cx-color-lightest:#FFFFFF;
$cx-color-light-dark:#D0E0E3;
$cx-color-light-darkest:#B3C7CB;

$cx-color-dark: #48586C;
$cx-color-dark-light:#5F758F;
$cx-color-darkest:#3A4859;

/* Logo */

$cx-logo-azul: url("/assets/images/caixa-logo-x.png");
$cx-logo-branco: url("/assets/images/caixa-logo-x-branco.png");

/* Font */

@import "./assets/fonts/style.css";

$cx-font-family-base: Futura LT, Futura LT Book !default;
$cx-font-family-normal: Futura LT Book;
$cx-font-family-bold: Futura LT Bold;
$cx-font-size-base: 0.875rem;	/* 0.812 = 13px | 0.875 = 14px */

/* Gradiente */

$cx-gradient-primary: linear-gradient(90deg, $cx-color-primary 0%, rgba(84,187,171,1) 100%);
$cx-gradient-sky: linear-gradient(130deg, $cx-color-primary 0%, rgba(0,181,229,1) 100%);
$cx-gradient-aux: linear-gradient(130deg, $cx-color-primary 0%, rgba(178,111,155,1) 100%);
$cx-gradient-success: linear-gradient(130deg, $cx-color-primary 0%, rgba(175,202,11,1) 100%);
$cx-gradient-light: linear-gradient(130deg, $cx-color-lightest 0%, $cx-color-light 100%);
$cx-gradient-dark: linear-gradient(130deg, rgba(58,72,89,1) 0%, rgba(95,118,143,1) 100%);

/* Opacidade */

$cx-opacity-bg-1: 0.64;
$cx-opacity-bg-2: 0.4;
$cx-opacity-bg-3: 0.24;

$cx-opacity-text-1: 0.72;
$cx-opacity-text-2: 0.56;
$cx-opacity-text-3: 0.32;
