.wrapper-ctabs-navegacao {
    overflow: auto;
    margin: 10px 0;
    display: grid;
    grid-gap: 10px;
}
.ctabs-navegacao {
  display: grid;
  grid-template-columns: repeat(8, minmax(max-content, 1fr));
  justify-content: start;
  grid-gap: 10px;
  padding-bottom: 15px;
  overflow-x: scroll;
}
@media (min-width: 960px) {
  .ctabs-navegacao {
    overflow-x: auto;
  }
}
.ctab-item {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 200ms;
  transform: scale(1);
}