<ng-container *ngIf="!profileAboutData">
    <div  class="alert alert-danger">
        <i class="fas fa-times-circle mr-2"></i>
        A API não retornou dados de Perfil.
    </div>
    <br>
</ng-container>

<ng-container *ngIf="profileAboutData">
  <h5 class="header-caixa text-primary mb-4">Dados de identificação</h5>
  <form [formGroup]="profileAboutForm" class="form-caixa" (ngSubmit)="null">
      <div class="form-group">
          <label for="text">Whatsapp ID</label>
          <input id='wa_id' name='wa_id' class="form-control profile-about" type="text" value="{{ account?.id }}" disabled>
      </div>

      <cx-input-caixa [formInput]="profileAboutForm.get('text')">
        <label for="text">Descrição da Conta</label>
        <input inputCaixa id='text' name='text' formControlName="text" type="text">
      </cx-input-caixa>
  </form>

  <button (click)="onProfileAboutSubmit()" [disabled]="!profileAboutForm.valid || !profileAboutData" class="btn btn-secondary btn-caixa mr-2 mr-2">
    <i class="fas fa-save mr-1"></i>
    Salvar
  </button>

  <button (click)="setProfileAboutData()" class="btn btn-outline-dark btn-caixa ripple">
    <i class="fas fa-undo-alt mr-1"></i>
    Redefinir
  </button>
</ng-container>
