mz-modal-content {
    width: 100%;
    margin: 0 auto;
    float: left;
    position: unset;
    background: var(--cxBase);
    left: 0;
    right: 0;
    padding: 0.5rem !important;
    border-radius: 2px;
    text-align: center;
}

mz-modal-content div.alert-info {
    background-color:var(--cxBase);
    border-color: var(--cxBase);
    color: var(--cxContrast);
}

mz-modal-content div.alert {
/*     padding: 28px 18px 28px 18px; */
    border-radius: 0;
    margin-bottom: 15px;
}

mz-modal-content button {

}

mz-modal-content button.btn-main {
    background-color: var(--cxMain);
    border-color: var(--cxMain);
}

mz-modal-content button.btn-accent {
    background-color: var(--cxAccent);
    border-color: var(--cxAccent);
}

mz-modal-header {
    width: 100%;
    margin: 0 auto;
    float: left;
    position: unset;
    background: var(--cxAccent);
    color: var(--cxBase);
    left: 0;
    right: 0;
    border-radius: 2px;
    text-align: center;
    padding: 15px;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.close {
    float: right;
    font-size: 1.6rem;
    color: var(--cxBase) !important;
    opacity: 0.85;
    margin-right: 10px;
}

:host ::ng-deep .modal-content {
    top: 20vh !important;
    width: 45% !important;
    left: 27% !important;
}

@media(max-width: 600px) {
    :host ::ng-deep .modal-content {
        width: 70% !important;
        left: 15% !important;
    }
}

:host ::ng-deep .modal-footer {
    border-top: unset !important;
}
