<app-top-menu [tema]="temaGlobal"></app-top-menu>

<cx-spinner [fullscreen]=true [name]="'global'"></cx-spinner>

<main role="main">
  <app-side-menu [tema]="temaGlobal"></app-side-menu>

  <section id="conteudoPrincipal" 
  [ngClass]="{'sem-menu-lateral': !isMenuAberto}"
  class="{{ temaGlobal.counteudoPrincipalBg }}">

    <div id="mobileBackdrop"
      (click)="menuService.fechar()"
      [ngClass]="{'exibindo': isMenuAberto}">
    </div>

    <div id="painelConteudoPrincipal">
      <app-breadcrumb></app-breadcrumb>
      <br>
      <div [@routeAnimations]="prepareRoute(outlet)" [hidden]="!hasAccount">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>

    <!-- <app-footer></app-footer> -->
  </section>
</main>

<cx-modal></cx-modal>
