<h1 class="header-principal-caixa">
  Cores
</h1>
<hr class="header-line-caixa">

<div *ngFor="let cor of cores" class="card card-caixa mb-3">
	<div class="card-header">
		<h5 class="header-caixa text-{{ cor.name }}-dark"
		[ngClass]="{'text-light-darkest': cor.name == 'light'}">
			{{ cor.name | titlecase }}
		</h5>
	</div>
	<div class="card-body">
		<div class="row">
			<ng-container>
				<div class="col-4 d-flex align-items-center justify-content-between">
					<div class="square bg-{{ cor.name }}-light"></div>

					<div class="square bg-{{ cor.name }}"></div>

					<div class="square bg-{{ cor.name }}-dark"></div>
				</div>
				<div class="col-4 d-flex align-items-center flex-wrap">
					<h5 class="text-{{ cor.name }}-light font-fam-bold w-100">Título no tom claro</h5>
					<h5 class="text-{{ cor.name }} font-fam-bold w-100">Título no tom padrão</h5>
					<h5 class="text-{{ cor.name }}-dark font-fam-bold w-100">Título no tom escuro</h5>
				</div>
				<div class="col-4 d-flex align-items-center flex-wrap">
					<h5 class="text-{{ cor.name }}-light font-fam-bold header-caixa w-100">Header caixa no tom claro</h5>
					<h5 class="text-{{ cor.name }} font-fam-bold header-caixa w-100">Header caixa no tom padrão</h5>
					<h5 class="text-{{ cor.name }}-dark font-fam-bold header-caixa w-100">Header caixa no tom escuro</h5>
				</div>
			</ng-container>
		</div>	<!-- Row -->
	</div>	<!-- Card Body -->
</div>	<!-- Card -->