<h1 class="header-principal-caixa">
	Cores
</h1>

<ul class="nav nav-pills" role="tablist">
	<li class="nav-item">
		<a class="nav-link text-uppercase active" data-toggle="tab" href="#coresVariaveis" role="tab">
			Cores variáveis
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link text-uppercase" data-toggle="tab" href="#coresConstantes" role="tab">
			Cores constantes
		</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane fade show active p-2" id="coresVariaveis" role="tabpanel">
		<cx-datatable [settings]="dtSettings" #table>
			<table id="tabelaCores" datatable class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Variável</th>
						<th>Valor</th>
						<th>Demonstração</th>
						<th>Utilização</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let cor of coresVariaveis">
						<td>{{ cor.nome }}</td>
						<td>{{ cor.variavel }} 
							<button class="btn btn-flat" title="Copiar"><i (click)="copy(cor.variavel)" class="fa fa-copy"></i></button>
						</td>
						<td>{{ cor.valor }} 
							<button class="btn btn-flat" title="Copiar"><i (click)="copy(cor.valor)" class="fa fa-copy"></i></button>
						</td>
						<td><div class="square bg-{{ cor.classe }}"></div></td>
						<td [innerHTML]="cor.utilizacao" class="w-50"></td>
					</tr>
				</tbody>
			</table>
		</cx-datatable>
	</div>





	<div class="tab-pane fade" id="coresConstantes" role="tabpanel">
		<div class="table-responsive">
			<table class="table table-caixa">
				<thead>
					<tr>
						<th>Tema</th>
						<th>Normal</th>
						<th>Claro</th>
						<th>Escuro</th>
						<th>Texto</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let cor of cores">
						<td>
							<h5 class="header-caixa">
								{{ cor.name }}
							</h5>
						</td>
						<td>
							<div class="square bg-{{ cor.name }}"></div>
						</td>
						<td>
							<div class="square bg-{{ cor.name }}-light"></div>
						</td>
						<td>
							<div class="square bg-{{ cor.name }}-dark"></div>
						</td>
						<td>
							<h5 class="text-{{ cor.name }}-light font-fam-bold w-100">Título no tom claro</h5>
							<h5 class="text-{{ cor.name }} font-fam-bold w-100">Título no tom padrão</h5>
							<h5 class="text-{{ cor.name }}-dark font-fam-bold w-100">Título no tom escuro</h5>
							<span class="text-{{ cor.name }} mr-2">Texto,</span>
							<span class="text-{{ cor.name }} font-fam-bold">Negrito</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>




<ng-container *ngIf="false">
	<div *ngFor="let cor of cores" class="card card-caixa mb-3">
		<div class="card-header">
			<h5 class="header-caixa text-{{ cor.name }}-dark" [ngClass]="{'text-cinza-darkest': cor.name == 'light'}">
				{{ cor.name | titlecase }}
			</h5>
		</div>
		<div class="card-body">
			<div class="row">
				<ng-container>
					<div class="col-12 col-xl-6 d-flex align-items-center justify-content-between mb-3">
						<div class="row no-gutters w-100">
							<div class="col">
								<div class="square bg-{{ cor.name }}-light"></div>
							</div>
							<div class="col">
								<div class="square bg-{{ cor.name }}"></div>
							</div>
							<div class="col">
								<div class="square bg-{{ cor.name }}-dark"></div>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-xl-3 d-flex align-items-center flex-wrap mb-3">
						<h5 class="text-{{ cor.name }}-light font-fam-bold w-100">Título no tom claro</h5>
						<h5 class="text-{{ cor.name }} font-fam-bold w-100">Título no tom padrão</h5>
						<h5 class="text-{{ cor.name }}-dark font-fam-bold w-100">Título no tom escuro</h5>
					</div>
					<div class="col-12 col-sm-6 col-xl-3 d-flex align-items-center flex-wrap mb-3">
						<h5 class="text-{{ cor.name }}-light font-fam-bold header-caixa w-100">Header caixa no tom claro</h5>
						<h5 class="text-{{ cor.name }} font-fam-bold header-caixa w-100">Header caixa no tom padrão</h5>
						<h5 class="text-{{ cor.name }}-dark font-fam-bold header-caixa w-100">Header caixa no tom escuro</h5>
					</div>
				</ng-container>
			</div> <!-- Row -->
		</div> <!-- Card Body -->
	</div> <!-- Card -->
</ng-container>