.btn label {
  color: var(--cxBase);
  font-weight: bolder;
}

.btn-primary:hover span {
  color: var(--cxContrast);
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:hover {
  background-color: var(--cxBase) !important;
}

.btn-primary {
  background-color: var(--cxAccent) !important;
  border-color: var(--cxAccent) !important;
}
