li {
   max-width: 100%;
}
li i {
   transition: all 0.3s ease;
}
li.active > .menu-item > .menu-item-caret > i.fa-chevron-down,
li.active > .top-menu > .menu-item > .menu-item-caret > i.fa-chevron-down {
   transform: rotate(180deg);
}

.menu-item {
   display: flex;
   align-items: center;
   height: 54px;
   width: 100%;
   min-height: 54px;
   transition: 0.2s;

   /* Texto não selecionável */
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.menu-item.active {
   box-shadow: 0 0.6rem 0.4rem -0.4rem rgba(0, 0, 0, 0.1) !important;
}

:host-context(.aberto) {
   .menu-item-open-icon {
      display: none;
   }
   .menu-item-close-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex-grow: 1;
   }
   .menu-item-caret,
   .menu-item-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 40px;
   }
   .menu-item-name {
      display: flex;
      align-items: center;
      justify-self: start;
      height: 100%;
      width: 50%;
      flex-grow: 1;
      word-break: normal;
   }
}

:host-context(.reduzido) {
   .menu-item-name {
      display: none;
   }
   .menu-item-open-icon {
      display: flex;
      align-items: center;
      flex-grow: 1;
      justify-content: center;
      height: 100%;
   }
   .menu-item-close-icon {
      display: none;
   }
   .menu-item-icon {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .menu-item-caret {
      width: 0;
      display: flex;
      align-items: center;
      height: 100%;
   }
   .item-caret {
      position: absolute;
      right: auto;
      left: 20px;
   }
   .item-close-caret {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: auto;
      right: 1px;
      height: 100%;
      width: 40px;
   }
}

.menu-item:hover {
   background-color: rgba(0, 0, 0, 0.03);
}

.submenu,
.lastmenu {
   background-color: rgba(0, 0, 0, 0.02);
   overflow: hidden;
   transition: 0.2s ease;
   list-style: none;
   padding-left: 0;
}
