<h1 class="header-principal-caixa">
	Layout
</h1>
<hr class="header-line-caixa">

<h5 class="header-caixa text-primary">
	Toolbar (barra-superior)
</h5>

<div [formGroup]="formToolbar" class="row">
	<div class="col-md-4 my-3">
		<cx-select>
			<label>Ícone</label>
			<select selectCaixa formControlName="icone" (change)="onIconChange($event.target.value)">
				<option [value]="logoBranco" selected>Logo branco</option>
				<option [value]="logoPadrao">Logo padrão</option>
			</select>
		</cx-select>
	</div>
	<div class="col-md-4 my-3">
		<cx-select>
			<label>Background</label>
			<select selectCaixa formControlName="bg" (change)="onToolbarBgChange($event.target.value)">
				<option value="">Escolha um tema</option>
				<option [selected]="(styleService.toolbarBg$ | async) == tema.name" 
				*ngFor="let tema of temas" class="text-{{ tema.name }} font-fam-bold" [value]="tema.name">
					{{ tema.name | titlecase }}
				</option>
			</select>
		</cx-select>
	</div>
	<div class="col-md-4 my-3">
		<cx-select>
			<label>Tom</label>
			<select selectCaixa formControlName="tom" (change)="onToolbarBgChange(formToolbar.get('bg').value, $event.target.value)">
				<option value="">Padrão</option>
				<option value="-light">Claro</option>
				<option value="-dark">Escuro</option>
			</select>
		</cx-select>
	</div>
</div>

<h5 class="header-caixa text-primary">
	Menu Lateral
</h5>

<div class="row">
	<div class="col-md-4 my-3">
		<cx-select>
			<label>Background</label>
			<select selectCaixa (change)="onSidemenuBgChange($event.target.value)">
				<option value="">Escolha um tema</option>
				<option [selected]="(styleService.sidemenuBg$ | async) == 'lightest'">Branco</option>
				<option [selected]="(styleService.sidemenuBg$ | async) == tema.name" 
				*ngFor="let tema of temas" class="text-{{ tema.name }} font-fam-bold" [value]="tema.name">
					{{ tema.name | titlecase }}
				</option>
			</select>
		</cx-select>
	</div>
</div>
