<h1 class="header-principal-caixa">
	Layout
</h1>
<hr class="header-line-caixa">



<div class="row">
	<div class="col-md-4">
		<div [formGroup]="formToolbar">
			<div class="card card-caixa">
				<div class="card-header">
					<h5 class="header-subtitulo-caixa">
						Toolbar (barra-superior)
					</h5>
				</div>
				<div class="card-body">
					<cx-select [showFeedback]=false>
						<label>Cor de fundo</label>
						<select selectCaixa formControlName="bg" (change)="onToolbarBgChange($event.target.value)">
							<option value="">Escolha um tema</option>
							<option [selected]="(styleService.toolbarBg$ | async) == tema.name" *ngFor="let tema of temas"
								class="text-{{ tema.name }} font-fam-bold" value="{{ tema.name }}">
								{{ tema.name | titlecase }}
							</option>
						</select>
					</cx-select>
					<cx-select [showFeedback]=false>
						<label>Tom</label>
						<select selectCaixa formControlName="tom"
							(change)="onToolbarBgChange(formToolbar.get('bg').value, $event.target.value)">
							<option value="">Padrão</option>
							<option value="-light">Claro</option>
							<option value="-dark">Escuro</option>
						</select>
					</cx-select>
					<cx-select [showFeedback]=false>
						<label>Ícone</label>
						<select selectCaixa formControlName="icone" (change)="onIconChange($event.target.value)">
							<option [value]="logoBranco">Logo X branco</option>
							<option [value]="logoCompletoBranco">Logo completo branco</option>
							<option [value]="logoPadrao">Logo X azul</option>
							<option [value]="logoCompleto">Logo completo azul</option>
						</select>
					</cx-select>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card card-caixa">
			<div class="card-header">
				<h5 class="header-subtitulo-caixa">
					Menu Lateral
				</h5>
			</div>
			<div class="card-body">
				<div [formGroup]="formSidemenu">
					<cx-select [showFeedback]=false>
						<label>Cor de fundo</label>
						<select selectCaixa formControlName="bg" (change)="onSidemenuBgChange($event.target.value)">
							<option value="">Escolha um tema</option>
							<option [selected]="(styleService.sidemenuBg$ | async) == tema.name" *ngFor="let tema of temas"
								class="text-{{ tema.name }} font-fam-bold" [value]="tema.name">
								{{ tema.name | titlecase }}
							</option>
						</select>
					</cx-select>
		
					<cx-select [showFeedback]=false>
						<label>Tom</label>
						<select selectCaixa formControlName="tom"
							(change)="onSidemenuBgChange(formSidemenu.get('bg').value, $event.target.value)">
							<option value="">Padrão</option>
							<option value="-light">Claro</option>
							<option value="-dark">Escuro</option>
						</select>
					</cx-select>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card card-caixa">
			<div class="card-header">
				<h5 class="header-subtitulo-caixa">
					Conteúdo Principal
				</h5>
			</div>
			<div class="card-body">
				<cx-select [showFeedback]=false>
					<label>Cor de fundo</label>
					<select selectCaixa (change)="onConteudoPrincipalChange($event.target.value)">
						<option [selected]="(styleService.conteudoPrincipalBg$ | async) == ''" value="">
							Branco
						</option>
						<option [selected]="(styleService.conteudoPrincipalBg$ | async) == 'bg-light'" value="bg-light">
							Claro
						</option>
						<option [selected]="(styleService.conteudoPrincipalBg$ | async) == 'bg-dark-dark'" value="bg-dark-dark">
							Escuro (experimental)
						</option>
					</select>
				</cx-select>
			</div>
		</div>
	</div>
</div>