<section id="secao-btn-navegacao">
  <div *ngIf="!isModal" class="row">
    <div class="col-12 col-md-12">
      <div class="header">
        <h3 id="title-cadastro" class="titulo">
          <span class="mr-3">Senha da Conta</span><i class="fa
            fa-question-circle" aria-hidden="true"
            title="Aqui você realizará a adesão ao serviço de Senha da Conta"></i>
        </h3>
      </div>
    </div>
  </div>

  <div [hidden]="showFormulario || isModal">
    <cx-busca-contas [clienteAtual]="clienteAtual"
      [unidade]="filtroConta?.unidade" [produtos]="filtroConta?.produtos"
      [situacao]="filtroConta?.situacao"
      (selecionar)="redirecionar($event)"
      [controleContas]="clienteAtual?.senhaConta?.controleContas"
      [textoBtnAcao]="'Gerar senha'" [iconBtnAcao]="''"
      [tiposContas]="tiposContas" [retornaPropriedade9]="true">
    </cx-busca-contas>
  </div>

  <div class="p-3" [hidden]="!showFormulario">
    <h5 class="m-0">
      <b>Conta:</b> {{contaAtual?.contaFormatada}}
    </h5>
    <form [formGroup]="senhaForm">
      <div class="row mt-4">
        <div *ngIf="!isModal" class="col-12 col-lg-4"
          [ngClass]="displayFieldCss('senhaAnterior')">
          <label id="label-senha-anterior"
            [class.label-dirty]="senhaForm.controls['senhaAnterior'].dirty">
            Senha anterior
          </label>
          <input class="teste form-control" type="password"
            appOnlyNumbers id="input-senha-anterior"
            formControlName="senhaAnterior" maxlength="4">
        </div>
        <div class="col-12 col-lg-4"
          [ngClass]="displayFieldCss('novaSenha')">
          <label id="label-senha-nova"
            [class.label-dirty]="senhaForm.controls['novaSenha'].dirty">
            Nova senha <span class="text-danger">*</span>
          </label>
          <input class="teste form-control" type="password"
            appOnlyNumbers id="input-senha-nova"
            formControlName="novaSenha" maxlength="4">
        </div>
        <div class="col-12 col-lg-4"
          [ngClass]="displayFieldCss('redigitacaoNovaSenha')">
          <label id="label-senha-redigitada"
            [class.label-dirty]="senhaForm.controls['redigitacaoNovaSenha'].dirty">
            Redigitação da nova senha <span class="text-danger">*</span>
          </label>
          <input class="teste form-control" type="password"
            appOnlyNumbers id="input-redigitacao-senha-nova"
            formControlName="redigitacaoNovaSenha" maxlength="4">
        </div>
      </div>
    </form>
  </div>

  <div class="p-3" [hidden]="!showFormulario">
    <button [hidden]="isModal" type="button" class="btn btn-cancel"
      id="btn-voltar" (click)="voltar()">
      <span aria-hidden="true">
        <i class="fas fa-arrow-left"></i>
      </span> Voltar
    </button>
    <div class="actions-btn d-flex justify-content-end">
      <button [hidden]="!isModal" id="btn-voltar-modal" (click)="voltar()"
        class="btn btn-cancel mt-0 mr-3">Fechar</button>
      <button id="btn-gerar-senha" (click)="gerarSenha()" class="btn
        btn-main">Gerar Senha</button>
      <button onclick="this.blur();" *ngIf="permiteImprimir &&
        clienteAtual.tipoCliente === tipoClientePF" id="btn-imprimir-senha"
        (click)="imprimir()" class="btn btn-accent mr-3">Imprimir</button>
    </div>
  </div>
</section>
