<!-- Teste EXTRATO -->
<ng-container *ngIf="showOriginalTable">
   <ng-content></ng-content>
</ng-container>

<!-- <div #novoExtrato></div> -->

<div class="extrato-view" *ngIf="listaComObjetosSeparadores?.length > 1">
   <ng-container *ngFor="let separador of listaComObjetosSeparadores; let isLast = last; let i = index;">
<!--       <h3 class="titulo mb-3">{{ separador.valor() }}</h3> -->
      <h3 class="titulo mb-3">{{ getValorSeparadorFormatado(separador) }}</h3>
      <hr>
      <div class="card" [ngClass]="{'mb-4': !isLast}">
         <div class="card-body">
            <table class="table table-striped mb-0">
               <thead *ngIf="i === 0 && trHeader">
                  <tr>
                     <ng-container *ngFor="let cell of trHeader.children">
                        <th [classList]="cell.classList" [innerHTML]="cell.innerHTML"></th>
                     </ng-container>
                  </tr>
               </thead> 
               <tbody>
                  <tr *ngFor="let row of separador[separador.valor()]">
                     <ng-container *ngFor="let cell of row.children">
                        <td [classList]="cell.classList" [innerHTML]="cell.innerHTML"></td>
                     </ng-container>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </ng-container>
</div>