<div class="row justify-content-start container-card">
   <div class="align-self-center justify-content-start card max-width"
     [ngClass]="card.removerCol ? 'col-md-12': 'col-md-12 col-lg-12 col-xl-12 col-sm-12 col-12'">
     <div class="row no-gutters ">
       <form (ngSubmit)='nextStep()' [formGroup]='formCard'>
         <div *ngIf="card.showCheck; then cardHabilitado else cardDesabilitado"></div>
         <ng-template #cardHabilitado>
           <div class="col-md-4 col-sm-4 col-4 card-main align-self-center justify-content-center"
             [ngClass]="{'card-no-selecionado': !card.selecionado}" (click)="atualizarListaTasks()">
             <label class="checkbox-container">
               <input type="checkbox" formControlName="selecionado">
               <span class="checkmark"></span>
             </label>
             <h2><i [ngClass]="card.icone" aria-hidden="true"></i></h2>
             <div class="labelsInput" *ngIf="card.leftLabels?.length > 0">
               <h6 class="mt-3" *ngFor="let label of card.leftLabels; index as i">{{label}}</h6>
             </div>
           </div>
         </ng-template>
         <ng-template #cardDesabilitado>
           <div class="col-md-4 col-sm-4 col-5 card-main align-self-center justify-content-center card-no-selecionado">
             <label class="checkbox-container">
               <input type="checkbox" formControlName="selecionado" *ngIf="card.showCheck">
               <span class="checkmark" *ngIf="card.showCheck"></span>
             </label>
             <h2><i [ngClass]="card.icone" aria-hidden="true"></i></h2>
             <div class="labelsInput" *ngIf="card.leftLabels?.length > 0">
               <h6 class="mt-3" *ngFor="let label of card.leftLabels; index as i">{{label}}</h6>
             </div>
           </div>
         </ng-template>
 
         <div class="col-md-8 col-sm-8 align-self-center justify-content-center">
           <div class="card-body pl-0 pr-0">
             <div class="valoresInput" *ngIf="card.showTitulo">
               <h5 class="card-title">{{card.titulo}}</h5>
               <p class="card-text" id="id-valor">
                 <span matPrefix *ngIf="card.tipo === 'DOCUMENTO'">Chave: </span>
                 <input *ngIf="card.tipo === 'DOCUMENTO'" appCpfCnpjMask type="text" class="input-valor input-documento"
                   formControlName='valor' id="input-valor-desejado-{{index}}"
                   [attr.disabled]="card.utilizada ? 'true' : null" />
                 <input *ngIf="card.tipo === 'ALEATORIA'" type="text" class="input-valor" formControlName='valor'
                   id="input-valor-desejado-{{index}}" [attr.disabled]="true" />
                 <input *ngIf="card.tipo === 'CELULAR'" type="text" class="input-valor" placeholder="(83) 98888-8888"
                   ngxPhoneMaskBr formControlName="valor" id="input-valor-desejado-{{index}}"
                   [attr.disabled]="card.utilizada || !formCard.controls['selecionado'].value ? 'true' : null"
                   (change)="atualizarValorCard()" />
                 <input *ngIf="card.tipo === 'EMAIL'" type="text" class="input-valor" placeholder="email@email.com.br"
                   formControlName='valor' id="input-valor-desejado-{{index}}"
                   [attr.disabled]="card.utilizada || !formCard.controls['selecionado'].value ? 'true' : null"
                   (change)="atualizarValorCard()" />
               </p>
             </div>
             <div class="labelsInput" *ngIf="card.rightLabels?.length > 0" style="word-wrap: anywhere;">
               <h6 class="card-text" *ngFor="let label of card.rightLabels; index as i">{{label}}</h6>
             </div>
           </div>
         </div>
       </form>
     </div>
   </div>
 </div>
