<div class="card-button-wrapper" [ngClass]="{'checked': isChecked}">
  <div class="row no-gutters h-100">

    <div class="col-4 card-button-left-side" tabindex="0" (click)="toggleChecked()">
      <div class="checkbox-wrapper">
        <input class="d-none" type="checkbox">
        <span class="checkmark"></span>
      </div>

      <i [ngClass]="icon" class="fa-3x mb-2" aria-hidden="true"></i>

      <h5 *ngIf="label" class="my-2">
        {{label}}
      </h5>
    </div>

    <div class="col-8 card-button-right-side">
      <ng-content></ng-content>
    </div>
  </div>
</div>