<h1 class="header-principal-caixa">
  Cards
</h1>
<hr class="header-line-caixa">

<section id="painelCards" class="section-caixa">
  
  <!-- Branco, Claro, Escuro -->
  <div class="row mb-4">
    <div class="col-lg-4 my-3">

      <!-- CARD -->
      <div class="card card-caixa">
        <div class="card-header">
          <h4 class="header-caixa">Card branco</h4>
        </div>
        <div class="card-body">
          <div class="img-view mb-3">
            <img src="assets/images/caixa-logo-x.png" class="img-fluid">
          </div>
          <h5 class="font-fam-bold">Este é um título</h5>
          <p class="font-fam-bold">Este é um subtítulo</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="card-footer">
          <h5>Isso é um rodapé</h5>
          <div class="d-flex justify-content-end">
            <button class="btn btn-caixa btn-success mr-3">
              <i class="fa fa-check mr-2"></i>
              OK
            </button>
            <button class="btn btn-caixa btn-outline-dark">
              <i class="fa fa-times mr-2"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- CARD -->

    </div>
  
    <div class="col-lg-4 my-3">
      <div class="card card-caixa bg-light">
        <div class="card-header">
          <h4 class="header-caixa">Card claro</h4>
        </div>
        <div class="card-body">        
          <div class="img-view mb-3">
            <img src="assets/images/caixa-logo-x.png" class="img-fluid">
          </div>
          <h5 class="font-fam-bold">Este é um título</h5>
          <p class="font-fam-bold">Este é um subtítulo</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="card-footer">
          <h5>Isso é um rodapé</h5>
          <div class="d-flex justify-content-end">
            <button class="btn btn-caixa btn-secondary mr-3">
              <i class="fa fa-check mr-2"></i>
              OK
            </button>
            <button class="btn btn-caixa btn-danger">
              <i class="fa fa-times mr-2"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 my-3">
      <div class="card card-caixa bg-dark text-light">
        <div class="card-header">
          <h4 class="header-caixa text-lightest">Card escuro</h4>
        </div>
        <div class="card-body">
          <div class="img-view mb-3">
            <img src="assets/images/caixa-logo-x-branco.png" class="img-fluid">
          </div>
          <h5 class="font-fam-bold">Este é um título</h5>
          <p class="font-fam-bold">Este é um subtítulo</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="card-footer">
          <h5>Isso é um rodapé</h5>
          <div class="d-flex justify-content-end">
            <button class="btn btn-caixa btn-outline-info mr-3">
              <i class="fa fa-check mr-2"></i>
              OK
            </button>
            <button class="btn btn-caixa btn-light">
              <i class="fa fa-times mr-2"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Grandes, gradiente -->
  <div class="mb-3">
    <h3 class="header-subtitulo-caixa">
      Cores
    </h3>
    <p>Todas as cores temáticas podem ser usadas nos cards</p>
  </div>
  <div class="row mb-4">
    <div class="col-md-6 my-3">
      <!-- CARD -->
      <div class="card card-caixa bg-primary-light text-lightest">
        <div class="card-header">
          <h4 class="header-caixa">Card um pouco maior</h4>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="card-footer">
          <h5>Isso é um rodapé</h5>
        </div>
      </div>
      <!-- CARD -->
    </div>

    <div class="col-md-6 my-3">
      <!-- CARD -->
      <div class="card card-caixa bg-aux-light text-lightest">
        <div class="card-header">
          <h4 class="header-caixa">Card um pouco maior</h4>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="card-footer">
          <h5>Isso é um rodapé</h5>
        </div>
      </div>
      <!-- CARD -->
    </div>

    <div class="col-12 my-3">
      <!-- CARD -->
      <div class="card card-caixa bg-gradient-success">
        <div class="card-header">
          <h4 class="header-caixa">Card um pouco maior</h4>
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="card-footer">
          <h5>Isso é um rodapé</h5>
          <div class="d-flex justify-content-end">
            <button class="btn btn-caixa btn-outline-primary-light mr-3">
              <i class="fa fa-check mr-2"></i>
              OK
            </button>
            <button class="btn btn-caixa btn-outline-danger-dark">
              <i class="fa fa-times mr-2"></i>
              Cancelar
            </button>
          </div>
        </div>
      </div>
      <!-- CARD -->
    </div>
  </div>

  <!-- Grid -->
  <div class="mb-3">
    <h3 class="header-subtitulo-caixa">
      Cards dentro de outro card
    </h3>
    <p>Usando o sistema de grid do Bootstrap, cards podem ser organizados em linhas e colunas, até dentro de outros cards</p>
  </div>
  <div class="card card-caixa card-no-hover">
    <div class="card-header">
      <h4 class="header-caixa">Card container</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 my-3">
          <div class="card bg-dark card-caixa text-light">
            <div class="card-header">
              <h4 class="header-caixa">Card</h4>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-3">
          <div class="card bg-darkest card-caixa text-light">
            <div class="card-header">
              <h4 class="header-caixa">Card</h4>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-3">
          <div class="card bg-primary-dark card-caixa text-light">
            <div class="card-header">
              <h4 class="header-caixa">Card</h4>
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>