.cursor-point {
    cursor: pointer;
  }

  :host ::ng-deep .ng-select.custom .ng-select-container  {
    border: none;
    border-bottom: 1px solid var(--cxAux);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0;
    text-overflow: ellipsis;
    margin-top: -4px;
  }

  a {
    color: var(--cxAccent) !important;
  }

  :host ::ng-deep .ng-select.custom .ng-placeholder {
    padding-left: 1px;
  }

  :host ::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-left: 5px;
  }

  .fa-check {
    color: var(--cxSuccess);
  }

  .fa-ban {
    color: var(--cxDanger);
  }

  .fa-calendar {
    color: var(--cxAccent);
  }

  .alert-success-comprovante {
    background-color: var(--cxSuccess);
    border-color: var(--cxSuccess);
    color: var(--cxBase);
 }

 .alert-failure-comprovante {
    background-color: var(--cxDanger);
    border-color: var(--cxDanger);
    color: var(--cxBase);
 }


