#menuLateral {
  background-color: var(--cxSidemenuBgColor);
  position: fixed;
  width: 80%;
  max-width: 80%;
  overflow: auto;
  z-index: 9;
  transition: 0.6s;
  top: 0;
  bottom: 0;
  border-right: solid 1px var(--cxCancel);
}
#menuLateral.escondido {
  margin-left: -600px;
  visibility: hidden;
}
@media (min-width: 768px) {
  #menuLateral {
    width: 60%;
    max-width: 60%;
  }
}
@media (min-width: 992px) {
  #menuLateral {
    width: 262px;
    max-width: 262px;
    top: 64px;
    bottom: 0;
    /* height: calc(100% - 62px) !important; */ /* Altura do footer */
    /* max-height: calc(100% - 62px) !important; */ /* Altura do footer */
    z-index: 1;
  }
  #menuLateral.escondido {
    margin-left: -262px;
    visibility: hidden;
  }
  #footerPlaceholder {
    height: 59px !important;
  }
}

.img-logo {
  max-width: 11rem;
}
.text-version {
  color: var(--cxTransparentContrast75);
}

#menuLateralDinamico {
  padding-right: 2px;
}

#footerPlaceholder {
  height: 0 !important;
}

#tituloApp {
  text-shadow: 0px 2px var(--cxCancel);
}