/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
	#containerPhotoPreview {
    width: 200px;
    height: 200px;
  }
  #photoPreview {
    max-width: 200px;
    max-height: 200px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	#containerPhotoPreview {
    width: 200px;
    height: 200px;
  }
  #photoPreview {
    max-width: 200px;
    max-height: 200px;
  }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
	#containerPhotoPreview {
    width: 230px;
    height: 230px;
  }
  #photoPreview {
    max-width: 230px;
    max-height: 230px;
  }
}

/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
	#containerPhotoPreview {
    width: 250px;
    height: 250px;
  }
  #photoPreview {
    max-width: 250px;
    max-height: 250px;
  }
}
