.cpf-input {
    border-radius: 0px !important;
    border: none;
    font-family: var(--cxFontFamilyNormal);
    padding: 10px;
    float: left;
    position: relative;
    width: 100%;
  }
 .inputWidth {
   width: 65% !important;
 }

#input-cpf-conjuge {
   width: 100% !important;
}

