<ng-container *ngIf="!settingsData">
	<div class="alert alert-danger mb-0">
		<i class="fas fa-times-circle mr-2"></i>
		A API do Whatsapp não retornou dados de Configurações.
  </div>
</ng-container>

<ng-container *ngIf="settingsData">
  <h5 class="header-caixa text-primary mb-4">Parâmetros da WhatsappBusiness API</h5>
  <form [formGroup]="settingsForm" class="form-caixa">
    <div class="row">
      <div class="col-md-6">
        <cx-input-caixa [formInput]="settingsForm.get('callback_backoff_delay_ms')">
          <label for="callback_backoff_delay_ms">Atraso de retirada para um retorno de chamada (milissegundos)</label>
          <app-tooltip-icon
            text="Atraso de retirada para um retorno de chamada com falha em milissegundos.
            <br>Essa configuração é usada para definir o tempo dos atrasos de retirada antes de tentar novamente um retorno de chamada que falhou.
            <br>Padrão: 3.000"
          ></app-tooltip-icon>
          <input inputCaixa formControlName="callback_backoff_delay_ms" mask="9*" type="text">
        </cx-input-caixa>
        <cx-input-caixa [formInput]="settingsForm.get('max_callback_backoff_delay_ms')">
          <label for="max_callback_backoff_delay_ms">Atraso máximo para um retorno de chamada (milissegundos)</label>
          <app-tooltip-icon
            text="Atraso máximo para um retorno de chamada com falha em milissegundos
            <br>Padrão: 900.000"
          ></app-tooltip-icon>
          <input inputCaixa formControlName="max_callback_backoff_delay_ms" mask="9*" type="text">
        </cx-input-caixa>
        <cx-input-caixa [formInput]="settingsForm.get('heartbeat_interval')">
          <label for="heartbeat_interval">Intervalo de monitoramento (segundos)</label>
          <app-tooltip-icon
            text="Multiconexão: Intervalo do monitoramento pelo nó mestre dos nós Coreapp em segundos
            <br>Padrão: 5"
          ></app-tooltip-icon>
          <input inputCaixa formControlName="heartbeat_interval" mask="9*" type="text">
        </cx-input-caixa>
        <cx-input-caixa [formInput]="settingsForm.get('unhealthy_interval')">
          <label for="unhealthy_interval">Intervalo de verificação (segundos)</label>
          <app-tooltip-icon
            text="Multiconexão: Tempo máximo em segundos que um nó mestre aguarda a resposta do nó Coreapp
            para uma pulsação antes de o considerar não íntegro e começar o processo de failover.
            <br>Padrão: 30"
          ></app-tooltip-icon>
          <input inputCaixa formControlName="unhealthy_interval" mask="9*" type="text">
        </cx-input-caixa>
      </div>

      <div class="col-md-6">
        <div class="custom-control custom-switch py-3">
          <input formControlName="pass_through" id="pass_through" class="custom-control-input" type="checkbox">
          <label for="pass_through" class="custom-control-label">Pass Through</label>
          <app-tooltip-icon
            text="Quando verdadeiro, as mensagens serão removidas do banco de dados local após serem entregues ou lidas pelo destinatário.
            <br>Quando falso, todas as mensagens são salvas no armazenamento local até que sejam explicitamente excluídas.
            <br>Padrão: verdadeiro"
          ></app-tooltip-icon>
        </div>
        <div class="custom-control custom-switch py-3">
          <input formControlName="sent_status" id="sent_status" class="custom-control-input" type="checkbox">
          <label for="sent_status" class="custom-control-label">Sent Status</label>
          <app-tooltip-icon
            text="Receba uma notificação de que a mensagem foi enviada ao servidor.
            <br>Quando verdadeiro, você recebe uma mensagem indicando o envio. Se falso (padrão), você não receberá uma notificação."
          ></app-tooltip-icon>
        </div>
        <div class="custom-control custom-switch py-3">
          <input formControlName="callback_persist" id="callback_persist" class="custom-control-input" type="checkbox">
          <label for="callback_persist" class="custom-control-label">Callback Persist</label>
          <app-tooltip-icon
            text="Armazena os retornos de chamada em disco até que eles sejam reconhecidos com sucesso pelo Webhook ou não.
            <br>Padrão: verdadeiro. <b>Reinicialização obrigatória.</b>"
          ></app-tooltip-icon>
        </div>
      </div>
    </div>

    <hr class="my-5 d-block d-sm-block d-md-block d-lg-none">
    <hr class="my-3 d-none d-lg-block">

    <h5 class="header-caixa mb-4 text-primary">Webhooks</h5>
    <div class="row" formGroupName="webhooks">
      <div class="col-md-7">
        <cx-input-caixa [formInput]="settingsForm.get('webhooks').get('url')">
          <label for="webhooks">URL</label>
          <app-tooltip-icon
            text="As notificações de entrada e saída são roteadas para esse URL.
            <br><b>É necessário um ponto de extremidade baseado em HTTPS; HTTP não funcionará.</b>"
          ></app-tooltip-icon>
          <input inputCaixa formControlName="url" type="text">
        </cx-input-caixa>
      </div>
      <div class="col-md-5">
        <cx-select [formInput]="settingsForm.get('webhooks').get('max_concurrent_requests')">
          <label for="webhooks">Máximo de requisições simultâneas</label>
          <app-tooltip-icon
            text="Configura o número máximo de solicitações em andamento de retorno de chamada que são enviadas.
            <br>Pode ser definido como 6 (padrão), 12, 18 ou 24. <b>Reinicialização obrigatória.</b>"
          ></app-tooltip-icon>
          <select selectCaixa formControlName="max_concurrent_requests" type="text">
            <option value=6>6</option>
            <option value=12>12</option>
            <option value=18>18</option>
            <option value=24>24</option>
          </select>     
        </cx-select>
      </div>
    </div>
  </form>

  <button (click)="onProfileSettingsSubmit()" [disabled]="!settingsForm.valid || !settingsData" class="btn btn-secondary btn-caixa mr-2 mr-2">
    <i class="fas fa-save mr-1"></i>
    Salvar
  </button>

  <button (click)="setSettingsData()" class="btn btn-outline-dark btn-caixa">
    <i class="fas fa-undo-alt mr-1"></i>
    Redefinir
  </button>
</ng-container>
