@use "sass:map";

/* Fontes */
@import "./assets/fonts/style.css";

/* Overriden Bootstrap variables */
@import "./styles/bootstrap-variables-override";

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap";

// Dependências externas
@import "~highlight.js/styles/github.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
@import "~ngx-toastr/toastr.css";

// Estilos complementares
@import "functions";
@import "datatables";
@import "animations";

:root {
  --cxBodyFontSize: $cx-font-13;

  --cxFontFamilyNormal: "Futura LT Book";
  --cxFontFamilyBold: "Futura LT Bold";

  --cxPrincipal: $cx-color-secondary;
  --cxSecundario: $cx-color-primary;
  --cxAux: $cx-color-grafite;
  --cxCancel: $cx-color-cinza;
  --cxSucesso: $cx-color-success;
  --cxPerigo: $cx-color-danger;
  --cxAlerta: $cx-color-warning;
  --cxInfo: $cx-color-info;
  --cxBase: $cx-color-white;
  --cxContrast: $cx-color-grafite-dark;

  --cxTransparentBase025: rgba(255, 255, 255, 0.025);
  --cxTransparentBase050: rgba(255, 255, 255, 0.025);
  --cxTransparentBase075: rgba(255, 255, 255, 0.025);
  --cxTransparentBase25: rgba(255, 255, 255, 0.025);
  --cxTransparentBase50: rgba(255, 255, 255, 0.025);
  --cxTransparentBase75: rgba(255, 255, 255, 0.025);
  --cxTransparentContrast025: rgba(0, 0, 0, 0.025);
  --cxTransparentContrast050: rgba(0, 0, 0, 0.05);
  --cxTransparentContrast075: rgba(0, 0, 0, 0.075);
  --cxTransparentContrast25: rgba(0, 0, 0, 0.25);
  --cxTransparentContrast50: rgba(0, 0, 0, 0.5);
  --cxTransparentContrast75: rgba(0, 0, 0, 0.75);

  --cxShadowCaixaDarkSm: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  --cxShadowCaixaDark: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --cxShadowCaixaDarkLg: 0 0.3rem 0.8rem rgba(8, 1, 1, 0.15);

  --cxShadowCaixaLightSm: 0 0.1rem 0.2rem rgba(255, 255, 255, 0.15);
  --cxShadowCaixaLight: 0 0.2rem 0.2rem rgba(255, 255, 255, 0.15);
  --cxShadowCaixaLightLg: 0 0.3rem 0.8rem rgba(255, 255, 255, 0.15);

  --cxShadowCaixaSm: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.15);
  --cxShadowCaixa: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.15);
  --cxShadowCaixaLg: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15);
}

html {
  font-size: var(--cxBodyFontSize);
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--cxBase);
  color: var(--cxContrast);
}

#headerGeral {
  background: var(--cxSecundario);
  color: $cx-color-cinza-lighter;
}

/* 
  HEADERS 
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  &.header-caixa,
  &.header-subtitulo-caixa,
  &.header-principal-caixa {
    font-family: var(--cxFontFamilyBold);
    margin-bottom: 1rem;
  }
  &.header-subtitulo-caixa {
    color: var(--cxContrast);
  }
  &.header-principal-caixa {
    color: var(--cxSecundario);
    margin-bottom: 2rem;
  }
}
hr.header-line-caixa {
  border-color: var(--cxAux);
  opacity: $cx-bg-opacity-2;
  border-width: 1px;
  margin-bottom: 1.5rem;
}

/* Fundos em degrade */

@each $theme, $color in $cx-gradient-themes {
  .bg-gradient-#{$theme} {
    background: $color;
  }
}

/* Botões */

[role="button"] {
  cursor: pointer;
}

.btn {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-family: var(--cxFontFamilyBold);
  box-shadow: var(--cxShadowCaixa);
  position: relative;
  overflow: hidden;
  vertical-align: unset;
}

.btn.btn-primario,
.btn.btn-warning,
.btn.btn-success,
.btn.btn-danger,
.btn.btn-principal {
  color: var(--cinza-lighter);
}

.btn:not(.disabled):not(:disabled).active,
.btn:not(.disabled):not(:disabled):active,
.btn:not(.disabled):not(:disabled).focus,
.btn:not(.disabled):not(:disabled):focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn:disabled,
.btn.disabled {
  cursor: not-allowed !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  &:active,
  &:focus {
    outline: 0 !important;
    outline-offset: 0 !important;
    background-image: none !important;
  }
}

.btn-sm {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.btn-flat {
  @extend .btn;
  transition: 0.3s;
  background: transparent;
  box-shadow: none;
  color: inherit;
  &:focus,
  &:hover {
    color: inherit;
    filter: brightness(150%);
  }
}
.cx-ripple{
  top: 0;
  left: 0;
  border-radius: 50%;
  // background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple{
  to{
    transform: scale(2.5);
    opacity: 0;
  }
}

/* Toastr (Mensagens) */

.toast-container {
  font-family: var(--cxFontFamilyNormal);
  color: var(--cinza-lighter);
  > div {
    background-image: none !important;
    padding: 1.15rem 1.15rem 1.15rem 3.846rem;
    background-color: $cx-color-grafite;
    pointer-events: auto;
    border-radius: 0.384rem !important;
    transition: box-shadow 0.2s, border-bottom 0.3s, box-shadow 0.3s ease-in-out;
    box-shadow: none !important;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      font-family: "Font Awesome 5 Free";
      font-size: 1.4rem;
      line-height: 1.384rem;
      float: left;
      font-weight: 900;
      padding-left: 1rem;
    }
    &.toast-success {
      &:before {
        content: "\f00c";
        color: var(--cxSucesso);
      }
      .toast-progress {
        background-color: var(--cxSucesso);
      }
    }
    &.toast-error {
      &:before {
        content: "\f00d";
        color: var(--cxPerigo);
      }
      .toast-progress {
        background-color: var(--cxPerigo);
      }
    }
    &.toast-info {
      &:before {
        content: "\f129";
        color: var(--cxInfo);
      }
      .toast-progress {
        background-color: var(--cxInfo);
      }
    }
    &.toast-warning {
      &:before {
        content: "\f12a";
        color: var(--cxAlerta);
      }
      .toast-progress {
        background-color: var(--cxAlerta);
      }
    }
    &:hover {
      box-shadow: var(--cxShadowCaixaLg) !important;
      transition: opacity 0.3s ease-in-out;
    }
    div.toast-title {
      font-family: var(--cxFontFamilyBold);
      font-weight: 400;
      margin-bottom: 0.3rem;
    }
    div.toast-message {
      color: var(--cxContrast) !important;
    }
    div .toast-progress {
      opacity: 0.9;
    }
  }
}


/* Inputs */

label {
  font-size: 0.9rem;
  font-family: var(--cxFontFamilyBold);
  margin-bottom: 0.2rem;
  transition: 0.2s;
}
.custom-switch .custom-control-label,
.custom-checkbox .custom-control-label {
  cursor: pointer;
}
.custom-checkbox .custom-control-label::before,
.custom-checkbox .custom-control-label::after {
  width: 1.2rem;
  height: 1.2rem;
}
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: var(--cxCancel);
}
.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}
.custom-checkbox .custom-control-label {
  padding-left: 0.3em;
}
.custom-checkbox .custom-control-input.ng-dirty.ng-valid:checked ~ .custom-control-label::before {
  background-color: var(--cxSucesso);
  border-color: var(--cxSucesso);
}
.custom-control-input.ng-dirty.ng-valid:checked ~ .custom-control-label::before {
  color: var(--cinza-lighter);
  background-color: var(--cxSucesso);
  border-color: var(--cxSucesso);
}
.custom-checkbox .custom-control-input.ng-dirty.ng-invalid:checked ~ .custom-control-label::before {
  background-color: var(--cxPerigo);
  border-color: var(--cxPerigo);
}
.custom-control-input.ng-dirty.ng-invalid:checked ~ .custom-control-label::before {
  color: var(--cinza-lighter);
  background-color: var(--cxPerigo);
  border-color: var(--cxPerigo);
}
[type="range"]:hover {
  cursor: pointer;
}

/* Bootstrap-select */

.bs-searchbox input.form-control {
  box-shadow: none !important;
}

/* Tabela */

th.th-sorting {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  float: right;
  color: var(--cxContrast);
  transition: 0.5s;
  font-family: var(--cxFontFamilyBold);
}
.table-caixa {
  border-bottom: none !important;
  thead th {
    font-family: var(--cxFontFamilyBold);
    color: var(--cxAux);
    border-top: 0;
    border-bottom: 0 !important;
    font-weight: 400 !important;
    &.sorting,
    &.sorting_asc,
    &.sorting_desc {
      cursor: pointer;
    }
    &.sorting:hover::after {
      @extend .th-sorting;
      opacity: 0.5;
      content: "\f0dc";
    }
    &.sorting_asc::after {
      @extend .th-sorting;
      content: "\f0de";
    }
    &.sorting_desc::after {
      @extend .th-sorting;
      content: "\f0dd";
    }
  }
  tbody {
    /*     tr:hover {
      background-color: $cx-color-cinza;
    } */
    td {
      vertical-align: middle;
      padding: 0.75rem !important;
    }
  }
}

/* 
  Remove setas do Input do tipo Number 
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}

/* 
  Dropdown item 
*/
.dropdown-menu {
  box-shadow: var(--cxShadowCaixa);
  background-color: var(--cxBase);
}
.dropdown-item {
  padding: 1rem 1.3rem;
  vertical-align: middle;
  display: flex;
  align-items: center;
  color: var(--cxContrast) !important;
  &:hover {
    background-color: var(--cxTransparentContrast025);
  }
  &:active, &.active {
    color: var(--cinza-lighter) !important;
    background-color: var(--cxSecundario);
  }
  &.selected {
    .check-mark {
      display: flex;
      align-items: center !important;
      top: unset !important;
      @extend .text-success;
    }
  }
}

/* 
  Tabs e Navs
*/

.nav.nav-pills li a {
  color: var(--cxContrast);
  padding: 1rem 1.5rem;
  transition: ease-in-out 0.2s;
  font-family: var(--cxFontFamilyBold);
  border-bottom: solid 0.153rem transparent;
/*   @extend .ripple-dark; */
  &.active,
  &:active {
    color: var(--cxSecundario) !important;
    background-color: var(--cxBase) !important;
    border-bottom: solid 0.153rem var(--cxSecundario);
    border-radius: 50;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.disabled,
  &:disabled {
    opacity: $cx-text-opacity-3;
  }
}

/* Modal */

.modal {
  z-index: 10;
}
.modal-backdrop.fade.show {
  z-index: 9;
}
.modal-title {
  margin-bottom: 0 !important;
}

/* Cards */

.card {
  box-shadow: var(--cxShadowCaixa);
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--cxBase);
  color: var(--cxContrast);
  border-color: var(--cxCancel);
  .card-header {
    background-color: inherit;
    border: none;
    vertical-align: center;
    & h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
    }
  }
  .card-footer {
    background-color: inherit;
    border-top: 0;
  }
}
.card.card-hover::after {
  content: "";
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0.384rem;
  box-shadow: $cx-lg-box-shadow;
  transition: opacity 0.3s ease-in-out;
}
.card.card-hover:hover::after {
  opacity: 1;
}

/* Spinner */

.la-ball-clip-rotate.la-2x {
  display: flex !important;
  align-items: center;
  justify-content: center;
  > div {
    max-height: 3.846rem !important;
    max-width: 3.846rem !important;
  }
}

/* Firefox hack */

/* Remove a borda pontilhada de botões e links */
:focus,
:active {
  outline: none !important;
}
::-moz-focus-inner {
  border: 0;
}

/* 
  Bootstrap Select 
*/

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}
.bootstrap-select .btn.dropdown-toggle {
  box-shadow: none;
}
.bs-searchbox {
  padding: 0.8rem 0.5rem !important;
}

/* INPUT */

.form-control {
  color: var(--cxContrast);
  width: 100%;
  padding: 0.375rem 0.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--cxAux);
  box-shadow: none !important;
  transition: 
    background-size 0.3s, 
    background-color 0.3s, 
    border-color 0.3s ease-in-out, 
    box-shadow 0.15s ease-in-out,
    opacity 0.3s;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-image: none !important;
    background-color: var(--cxCancel) !important;
    color: var(--cxAux)
  }
}
@each $theme, $colors in $cx-colors {
  .input-caixa-#{$theme} {
    @extend .form-control;
    @if ($theme== "danger" or $theme== "success") {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(0deg, nth($colors, 1) 0%, nth($colors, 1) 100%) !important;
      border-color: nth($colors, 1) !important;
    } @else {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(0deg, nth($colors, 1) 0%, nth($colors, 1) 100%);
    }
    background-repeat: no-repeat;
    background-position: 50% 100%, 50% 100%;
    background-size: 100% 1px, 0% 1px;
    &:focus,
    &:active,
    &[aria-expanded="true"],
    &.focused,
    &.click-fx {
      @if ($theme== "danger" or $theme== "success") {
        border-color: nth($colors, 1) !important;
      } @else {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
        linear-gradient(0deg, nth($colors, 1) 0%, nth($colors, 1) 100%);
        border-color: nth($colors, 1);
      }
      background-size: 100% 1px, 100% 1px;
      animation: input-ripple 0.5s ease-in !important;
    }
    &.pre-click-fx:not(.post-click-fx) {
      animation: none !important;
    }
  }
}
.form-control {
  box-shadow: none;
  background-color: transparent;
  @extend .form-control;
  @extend .input-caixa-primary;
}
.input-caixa-wrapper {
  z-index: 999;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 1px !important;
  input {
    box-shadow: none;
  }
  @extend .form-control;
  @extend .input-caixa-primary;
}

cx-input.ng-invalid .input-caixa-wrapper,
cx-select.ng-invalid .input-caixa-wrapper/* ,
.input-caixa.ng-dirty.ng-invalid */ {
  @extend .input-caixa-danger;
}
cx-input.ng-valid .input-caixa-wrapper,
cx-select.ng-valid .input-caixa-wrapper/* ,
.input-caixa.ng-dirty.ng-valid */ {
  @extend .input-caixa-success;
}
.input-caixa-field,
.input-caixa-field input,
.input-caixa-field textarea,
select + button.input-caixa {
  background-color: transparent;
}

/* Classes auxiliares */

@each $theme, $value in $cx-bg-opacities {
  .bg-opacity-#{$theme} {
    opacity: $value !important;
  }
}
@each $theme, $value in $cx-text-opacities {
  .text-opacity-#{$theme} {
    opacity: $value !important;
  }
}
.full-opacity {
  opacity: 1 !important;
}
.font-fam-normal {
  font-family: Futura LT Book !important;
}
.font-fam-bold {
  font-family: Futura LT Bold !important;
}
.section-caixa {
  margin-bottom: 1.5rem;
}
.shadow-caixa {
  box-shadow: var(--cxShadowCaixa) !important;
}
.shadow-lg-caixa {
  box-shadow: $cx-lg-box-shadow !important;
}

.list-group-item {
  background-color: transparent !important;
  border-top: transparent !important;
  border-right: transparent !important;
  border-bottom: transparent !important;
  border: solid 2px transparent !important;
  border-radius: 0 !important;
  &.active {
    background-color: var(--cxSecundario) !important;
    color: var(--cinza-lighter) !important;
  }
}

/* MENU LATERAL */

#menuLateral {
  width: 80%;
  position: fixed;
  top: 64px;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  z-index: 999;
  max-height: calc(100% - 64px);
}
#menuLateral.reduzido {
  width: 165px;
  max-width: 165px;
}
#menuLateral.escondido {
  margin-left: -400px;
  visibility: hidden;
}

@media (min-width: 768px) {
  #menuLateral {
    width: 50%;
    max-width: 50%;
  }
  #menuLateral.escondido {
    margin-left: -500px;
    visibility: hidden;
  }
}

@media (min-width: 992px) {
  #menuLateral {
    max-width: 264px;
  }
  #menuLateral.escondido {
    margin-left: -302px;
    visibility: hidden;
  }
}

#botaoSipan {
  white-space: nowrap;
}

.accordion li {
  max-width: 100%;
}
.accordion li i {
  transition: all 0.3s ease;
}
.accordion li.active > .menu-item > .menu-item-caret > i.fa-chevron-down,
li.active > .top-menu > .menu-item > .menu-item-caret > i.fa-chevron-down {
  transform: rotate(180deg);
}

.menu-item {
  display: flex;
  align-items: center;
  height: 4.153rem;
  width: 100%;
  min-height: 4.153rem;
  transition: 0.2s;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu-item {
  &.active.has-submenu {
    color: var(--cxSecundario);
    box-shadow: 0 0.6rem 0.4rem -0.4rem var(--cxTransparentContrast025);
  }
  &.active.is-link {
    background-color: var(--cxSecundario);
    color: var(--cinza-lighter);
  }
}

.aberto {
  .menu-item-open-icon {
    display: none;
  }
  .menu-item-close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
  }
  .menu-item-caret,
  .menu-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
  }
  .menu-item-name {
    display: flex;
    align-items: center;
    justify-self: start;
    height: 100%;
    width: 50%;
    flex-grow: 1;
    word-break: normal;
  }
}

.reduzido {
  .menu-item-name {
    display: none;
  }
  .menu-item-open-icon {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    height: 100%;
  }
  .menu-item-close-icon {
    display: none;
  }
  .menu-item-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-item-caret {
    width: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .item-caret {
    position: absolute;
    right: auto;
    left: 20px;
  }
  .item-close-caret {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: auto;
    right: 1px;
    height: 100%;
    width: 40px;
  }
}

.menu-item:hover {
  background-color: var(--cxTransparentContrast025);
}

.submenu {
  background-color: var(--cxTransparentContrast025);
  overflow: hidden;
  transition: 0.2s ease;
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid var(--cxCancel);
}

.citation-highlight {
  @extend .border;
  @extend .px-1;
}

.cursor-pointer {
  cursor: pointer;
}

/* CLASSES TEMATICAS */

.bg-principal {
  background-color: var(--cxPrincipal);
}
.bg-secundario {
  background-color: var(--cxSecundario);
}
.bg-base {
  background-color: var(--cxBase);
}
.bg-contrast {
  background-color: var(--cxContrast);
}
.bg-cancel {
  background-color: var(--cxCancel);
}
.bg-aux {
  background-color: var(--cxAux);
}


/* TEMAS */

/* TEMA CLARO */

body.tema-claro {

  #wrapperBreadcrumb,
  #tabClienteGlobalWrapper,
  #menuLateral {
    @extend .bg-white;
    @extend .text-grafite;
  }
  #menuLateral {
    @extend .border-right;
    @extend .border-cinza;
  }
  #headerGeral {
    @extend .bg-primary;
    @extend .text-white;
  }
  #wrapperConteudoPrincipal {
    @extend .bg-light;
  }

  .text-principal {
    @extend .text-secondary;
  }
  .text-secundario {
    @extend .text-primary;
  }
  .text-sucesso {
    @extend .text-success;
  }
  .text-perigo {
    @extend .text-danger;
  }
  .text-info {
    @extend .text-info;
  }
  .text-alerta {
    @extend .text-warning;
  }
  .text-link {
    @extend .text-primary;
  }

  .btn-principal {
    @extend .btn, .btn-secondary;
  }
  .btn-outline-principal {
    @extend .btn, .btn-outline-secondary;
  }
  .btn-secundario {
    @extend .btn, .btn-primary;
  }
  .btn-outline-secundario {
    @extend .btn, .btn-outline-primary;
  }
  .btn-aux {
    @extend .btn, .btn-grafite;
  }
  .btn-outline-aux {
    @extend .btn, .btn-outline-grafite;
  }
  .btn-cancel {
    @extend .btn, .btn-cinza;
  }
  .btn-outline-cancel {
    @extend .btn, .btn-outline-cinza;
  }
  .btn-perigo {
    @extend .btn-danger;
  }
  .btn-base {
    @extend .btn-cinza-lighter;
  }
  .btn-outline-base {
    @extend .btn-outline-cinza-lighter;
  }
  .btn-contrast {
    @extend .btn-grafite-dark;
  }
  .btn-outline-contrast {
    @extend .btn-outline-grafite-dark;
  }

}

/* TEMA ESCURO */

body.tema-escuro {

  #wrapperBreadcrumb,
  #tabClienteGlobalWrapper,
  #menuLateral {
    @extend .bg-grafite-dark;
    @extend .text-white;
  }
  #menuLateral {
    @extend .border-left;
    @extend .border-grafite;
  }
  #headerGeral {
    @extend .bg-grafite-darker;
    @extend .text-white;
  }
  #wrapperConteudoPrincipal {
    @extend .bg-grafite;
  }

  .text-principal {
    @extend .text-secondary;
  }
  .text-secundario {
    @extend .text-ceu;
  }
  .text-sucesso {
    @extend .text-success-lighter;
  }
  .text-perigo {
    @extend .text-goiaba-light;
  }
  .text-info {
    @extend .text-info-lighter;
  }
  .text-alerta {
    @extend .text-warning-lighter;
  }
  .text-link {
    @extend .text-ceu;
  }

  .btn-principal {
    @extend .btn, .btn-ceu;
  }
  .btn-outline-principal {
    @extend .btn, .btn-outline-ceu;
  }
  .btn-secundario {
    @extend .btn, .btn-ceu;
  }
  .btn-outline-secundario {
    @extend .btn, .btn-outline-ceu;
  }
  .btn-aux {
    @extend .btn, .btn-cinza;
  }
  .btn-outline-aux {
    @extend .btn, .btn-outline-cinza;
  }
  .btn-cancel {
    @extend .btn, .btn-grafite-light;
  }
  .btn-outline-cancel {
    @extend .btn, .btn-outline-grafite-light;
  }
  .btn-perigo {
    @extend .btn-goiaba-light;
  }
  .btn-base {
    @extend .btn-grafite-dark;
  }
  .btn-outline-base {
    @extend .btn-outline-grafite-dark;
  }
  .btn-contrast {
    @extend .btn-cinza-lighter;
  }
  .btn-outline-contrast {
    @extend .btn-outline-cinza-lighter;
  }

}