.img-logo {
  min-width: 40px;
  max-height: 30px;
}
@media (min-width: 768px) {
  .img-logo {
    min-width: 40px;
    max-height: 30px;
  }
}

@media (min-width: 992px) {
  .img-logo {
    min-width: 45px;
    max-height: 33px;
  }
}

.logo-title {
    font-size: 1.5rem;
}

#navbarTop {
  height: 64px !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  #navToolbar {
    display: flex;
    align-items: center;
    height: 100%;
    #btnTrocarMenuLateral {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}

#verticalLine {
  width: 0;
  height: 80%;
  border: solid 0.5px white;
  opacity: 0.8;
}
