<header #navbarTop id="navbarTop" appCloseTab>

  <nav id="navToolbar">

    <!--     <div id="btnTrocarMenuLateral" (click)="trocaMenuLateral()" class="px-4 ripple" role="button">
      <span class="top-menu-item mr-md-3">
        <i class="fas fa-bars fa-2x"></i>
      </span>
      <h5 class="d-none d-md-block mb-0">Menu</h5>
    </div> -->

    <div id="spanLogo" class="h-100"  [ngClass]="{'menu-is-aberto': isMenuAberto}">
      <div class="d-flex align-items-center h-100">
        <img [src]="isMenuAberto ? logoCompletoBranco : logoXBranco" class="img-fluid img-logo rounded mx-auto">
        <span class="p-4 h-100" role="button" (click)="trocaMenuLateral()">
          <i *ngIf="isMenuAberto" class="fa fa-angle-double-left fa-lg"></i>
          <i *ngIf="!isMenuAberto" class="fas fa-bars fa-lg"></i>
        </span>
      </div>

    </div>

    <h4 class="d-none d-md-block mb-0 ml-2 header-caixa full-opacity">
      Olá, {{ user.nome_completo }}
    </h4>

    <div id="painelDataHora" class="d-none d-lg-flex h-100 align-items-center ml-auto mr-4">
      <h6 class="header-caixa m-0 full-opacity">
        {{ dataHora }}
      </h6>
    </div>

    <div id="painelIconesUsuario" class="ml-auto ml-lg-0">
      <div class="notification-container mr-4" data-toggle="dropdown" role="button">
        <i role="button" class="fa fa-bell fa-2x" title="Notificações"></i>
        <span class="notification-badge">2</span>
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <span class="dropdown-item">
          Você tem 2 notificações
        </span>
      </div>

      <div class="notification-container mr-4" role="button" data-toggle="dropdown">
        <i role="button" class="fa fa-envelope fa-2x" title="Mensagens"></i>
        <span class="notification-badge">5</span>
      </div>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <span class="dropdown-item">
          Você tem 5 mensagens
        </span>
      </div>
      
      <div class="notification-container">
        <i role="button" class="fa fa-adjust fa-2x" title="Modo Escuro" (click)="changeTheme()"></i>
      </div>
    </div>

    <div class="mx-4">
      <button class="btn btn-outline-light">
        <i class="fa fa-sign-out-alt fa-lg mr-2"></i>
        <span class="text-uppercase font-fam-bold">Sair</span>
      </button>
    </div>

<!--     <div *ngIf="user" class="mx-4">
      <button class="btn btn-caixa btn-flat shadow-none d-flex align-items-center" data-toggle="dropdown">
        <span class="d-none d-md-block">
          <i class="fas fa-user-circle fa-2x"></i>
        </span>
        <span class="d-block d-md-none">
          <i class="fas fa-user-circle fa-2x"></i>
        </span>
        <h5 class="ml-2 mb-0 d-none d-md-block font-fam-bold">
          {{ user.nome_completo | titlecase }}
        </h5>
        <i class="fas fa-caret-down ml-2"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <span class="dropdown-item">
          <i class="fas fa-user fa-lg mr-3"></i>
          {{ user.nome_completo | uppercase }}
        </span>
        <span class="dropdown-item" *ngIf="user.matricula">
          <i class="fas fa-fingerprint fa-lg mr-3"></i>
          {{ user.matricula | uppercase }}
        </span>
        <a (click)="showLogoutModal()" class="dropdown-item btn btn-outline-danger">
          <i class="fas fa-sign-out-alt fa-lg mr-3 text-danger"></i>
          Sair
        </a>
      </div>
    </div> -->

  </nav>
</header>