#menu-scroll {
    position: fixed;
    width: 40px;
    z-index: 100;
    top: 30%;
    right: 5px;
    border: 1px solid;
    background: var(--cxBase);
    color: var(--cxAccent);
    border-radius: 4px;
}
.menu-scroll span {
  display: none;
}
:host ::ng-deep .padding-right-27 {
  padding-right: 27px !important;
}
