<div *ngIf="breadcrumbs" class="d-inline-flex w-auto align-items-center mt-2 mb-4">
  <strong class="d-none d-sm-inline-block mr-2">
    Você está em:
  </strong>
  <ul class="breadcrumb-list">
    <li *ngFor="let breadcrumb of breadcrumbs; first as isFirst; last as isLast" class="breadcrumb-item">
      <a class="breadcrumb-link" [ngClass]="{'text-opacity-1 font-fam-bold': isFirst}" routerLink="{{breadcrumb.url}}">
        {{ breadcrumb.label }}
      </a>
      <span *ngIf="!isLast"></span>
    </li>
  </ul>
</div>
