<div class="pl-0 col-4 col-md-12 d-flex flex-column my-4" *ngIf="isShowBanner">
    <div class="card text-base">
      <div class="card-header bg-dark">
        <span class="fa-stack fa-lg mr-2">
          <i class="fa fa-info-circle text-white fa-stack-2x"></i>
        </span>
        <span class="text-white font-weight-bold">
          {{conteudoMensagem}}
        </span>
        <button class="btn btn-outline-cancel btn-sm float-md-right" (click)="limparMensagemHeader()">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
</div>

