<h1 class="header-principal-caixa">
  Início
</h1>
<hr class="header-line-caixa">

<div *ngFor="let cols of rows" class="row d-flex justify-content-center">
  <div *ngFor="let resource of cols" class="col-10 col-md-6 col-xl-4">
    <div class="card card-caixa card-hover {{ resource.cardClass }}" role="button" [routerLink]="resource.url">
      <div class="card-header">
        <h5 class="header-subtitulo-caixa m-0 mr-3 text-center">
          <i class="{{ resource.icon }} fa-lg mr-1"></i>
          {{ resource.name }}
        </h5>
      </div>
      <div class="card-body">
        <span class="d-inline-block w-100 text-center">
          {{ resource.description }}
        </span>
      </div>
    </div>
    <br>
  </div>
</div>

<ng-container>
  <h4 class="mt-5 text-center">
    Este contador se atualiza a cada 3 segundos e reseta no 100.<br>
    <a class="text-info" [href]="url" target="_blank">
      {{url}}
    </a>
  </h4>
  
  <h1 class="text-center my-3">{{contador || 0}}</h1>
  <button (click)="resetarSocket()" class="btn btn-caixa btn-primary d-flex mx-auto align-items-center">
    <i class="fa fa-sync-alt mr-2"></i>
    Resetar
  </button>
  
  <div id="msgInput" class="d-flex w-50 mx-auto mt-3">
    <input #inputMsg class="input-caixa ml-auto" placeholder="Envie uma mensagem ao servidor">
    <button (click)="sendMessage(inputMsg.value)" class="btn btn-caixa btn-secondary mr-auto shadow-none">
      <i class="fa fa-paper-plane mr-2"></i>
      Enviar
    </button>
  </div>

</ng-container>