<div class="timeline-wrapper" [ngClass]="{'horizontal': orientation == 0,'vertical': orientation == 1}">
   <ul class="timeline">
      <li [title]="item?.title" class="timeline-item timeline-item-{{ item.state }}" *ngFor="let item of items; let index = index; let last = last">
         <div class="timeline-item-title">
            <div class="timeline-item-icon shadow-sm">
               <ng-container [ngSwitch]="item?.state">
                  <i class="fa fa-check" *ngSwitchCase="'success'"></i>
                  <i class="fa fa-exclamation" *ngSwitchCase="'warning'"></i>
                  <i class="fa fa-times" *ngSwitchCase="'error'"></i>
               </ng-container>
            </div>
            <div class="timeline-item-info">
               <div class="timeline-item-name">
                  {{ item?.title }}
               </div>
               <div class="timeline-item-date">
                  <small>{{ item?.dateText }}</small>
               </div>
            </div>
         </div>
      </li>
   </ul>
</div>
