<mz-modal [options]="options">
    <mz-modal-header>
        <h5 class="mz-modal-header text-left">
            {{header}}
            <a mz-modal-close class="mz-modal-close close cursor-pointer">x</a>
        </h5>
    </mz-modal-header>
    <mz-modal-content>
        <div [ngClass]="{'alert-outline-danger': type === 'error','alert-outline-warning': type === 'warning','alert-outline-info': type === 'info'}"
            class="text-left alert" role="alert">
            <h5 style="word-break:break-all">{{message}}</h5>
        </div>
    </mz-modal-content>
</mz-modal>
