<div #wrapper class="input-caixa-wrapper border-bottom-0">
	<div class="input-caixa-label d-block w-100">
		<ng-content select="label"></ng-content>
		<ng-content select="app-tooltip-icon"></ng-content>
	</div>
	<div class="input-caixa-flex-field">
		<div class="input-caixa-prefix-icon">
			<ng-content select=".prefix-icon"></ng-content>
		</div>
		<div class="input-caixa-field">
			<ng-content></ng-content>
			<ng-content select="button.bootstrap-select-button"></ng-content>
		</div>
		<div *ngIf="formInput?.dirty && showFeedback"
			class="input-caixa-feedback-icon ripple"
			role="button" (click)="reset()"
			[ngClass]="{'text-success': formInput?.valid, 'text-danger': formInput?.invalid}">
			<i *ngIf="formInput?.valid" class="fas fa-check" title="Resetar campo"></i>
			<i *ngIf="formInput?.invalid" class="fas fa-exclamation-triangle" title="Resetar campo"></i>
		</div>
	</div>
</div>

<div class="feedback-message w-100 text-right">
	<ng-container class="w-100 text-right" *ngIf="(formInput?.untouched || formInput?.valid)">
		<small class="font-italic">
			{{ isRequired ? "Obrigatório" : "" }}
		</small>
	</ng-container>
</div>