::ng-deep cx-select select {
	padding: 0.375rem 0.7rem;
	width: 100%;
	border: 0;
}

::ng-deep cx-select .input-caixa-prefix-icon {
	width: 1.5rem;
	min-width: 1.5rem;
	max-width: 1.5rem;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	height: 100%;
}
::ng-deep cx-select .input-caixa-prefix-icon:empty {
	display: none;
}

::ng-deep .feedback-message {
	min-height: 1.6rem;
}

::ng-deep cx-select .input-caixa-feedback-icon {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 50% !important;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

::ng-deep button.bootstrap-select-button {
	width: 100%;
}